[2018-04-06 05:28] almtcger opened #1 "Notification Test"

[2018-04-06 05:32] #1 closed

[2018-04-06 05:32] almtcger commented on #1
Closed

[2018-05-15 18:33] cosminstirbu opened #2 "No warnings reported for .NET projects built with Shell Script tasks and Cake Build"
Hi,

For some reason no warnings are reported for .NET projects built with a Shell Script task that invokes Cake Build bash script.

The build reports general MSBuild warnings such as:

`2018-05-15T18:08:38.3790300Z   Pages/HomePage.cs(51,50): warning CS0169: The field 'HomePage._headerMessage' is never used [/Users/vsts/agent/2.133.3/work/1/s/SampleProject.csproj]`

or StyleCop warnings such as:

[2018-05-15 19:47] camp-007 opened #3 "Cannot read property 'id' of null when running 'Clean Agent Directories' task"
I'm trying to use the 'Clean Agent Directories' extension and it doesn't seem to be working.  We use VSTS, and an on-prem build agent.  Here is the log file which looks like it is encountering an error, but I don't have much else to go on.

Anything else I should look into to diagnose why it isn't running properly?

[code]

[2018-05-15 20:05] almtcger commented on #3
Hi Joe,

could you please run your build again with the variable System.Debug set to true and post the log? Make sure to remove all sensitive data or data you do not want to display here from the log or send the log to PSGerExtSupport@microsoft.com. With the additional information we should be able to quickly resolve the issue.

René

[2018-05-15 21:28] almtcger commented on #3
Thanks for sharing the log. I found the issue and it is related to post job scripts. Those scripts run after all other tasks and break our logic to check if the PostBuildCleanup task is the last task in the phase. I should have a fix ready by tomorrow.

René

[2018-05-16 08:13] cosminstirbu commented on #2
Hi @almtcger,

Thank you for your reply.

Is there a way that the extension can be modified to read from the console log as well? Doing the MSBuild wrapper project is a painful wokraround.

Thank you,
Cosmin

[2018-05-16 09:57] almtcger commented on #2
Hi Cosmin,

the extension already can read the log output of other tasks. However, it doesn't know what kind of output is a warning and what isn't. You could use the warning filters parameter (see https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/WarningsPolicy.md#warnFilters) to tell the task what to count as a warning, but that might be tedious work.

Your t

[2018-05-16 11:32] almtcger commented on #3
Hey Joe,

I just pushed v3.0.4 of the task to the marketplace. This version should fix your issue. If the issue still persists or you have any other questions or feedback, just let us know here, via email, or use the rating or Q&A feature of the marketplace.

Happy building!
René

[2018-05-16 11:32] #3 closed

[2018-05-16 22:21] aapalm opened #4 "Error: Unable to get code coverage data within the maximum wait time."
We seem to run into this issue a lot during our VSTS builds...  Is there any way to increase the wait time?  And could it be possible to make this type of issue a non-blocking issue?

**Logs**
`2018-05-16T21:49:58.7248298Z ##[section]Starting: Check build quality`
`2018-05-16T21:49:58.7255594Z ==============================================================================`
`2018-05-16T21:49:58.7255

[2018-05-17 07:06] cosminstirbu commented on #2
I did use the regex above for the warnings regex but it still doesn't report any issues.

In the console log I can see that `The specified task filters did not match any build task.`

The regex for tasks is the default one.

The name of the tasks invoking Cake is

[code]

Should I change the tasks regex to match "Shell Script"?

Thank you,
Cosmin

[2018-05-17 12:15] cosminstirbu commented on #2
I've used

Warning Filters: `/^.+\(\d+(,\d+)*\):\s+warning`
Task Filters: `/(Shell Script|Invoke Cake)`

In the build logs for Build Warnings I can see:

[code]

So I'm not sure what I'm missing.

[2018-05-17 13:54] almtcger commented on #2
Hi Cosmin,

I think I made a mistake and there is a small bug in the task that we're now running into. My warning filter expression contains a capturing group and we have a special logic that evaluates capturing groups in order to read the total number of warnings from a log file. When that capturing group captures anything but a number, the warning analysis should ignore it and here is where the

[2018-05-17 14:50] cosminstirbu commented on #2
I think we're making progress, but still something doesn't add up

[code]

[2018-05-17 15:00] cosminstirbu commented on #2
![screen shot 2018-05-17 at 5 59 54 pm](https://user-images.githubusercontent.com/7135690/40185790-28274c92-59fc-11e8-9332-5ed4a08b82a4.png)

[2018-05-17 15:04] almtcger commented on #2
Hi Cosmin,

I know it looks strange, but this is actually by design. As mentioned, the task usually picks up the warnings that have been logged as build issues. If you specify warning filters, you usually only want to monitor specific warnings (e.g., just code analysis warnings). Thus, the result should show something like 5 out of 10 warnings.

In your case there are no build issues and the total

[2018-05-17 18:00] aapalm commented on #4
Thanks @almtcger, will give it a try

[2018-05-18 08:55] cosminstirbu commented on #2
Thank you for your response.

However it's not clear why it says that Warnings haven't changed since last build.

Also, is there a way to see the warnings themselves, similar to:

https://brakemanpro.com/images/jenkins/warning_file.png (taken from https://brakemanpro.com/docs/ci/jenkins)

Thank you,
Cosmin

[2018-05-18 09:47] almtcger commented on #2
Hey,

currently, we only support warnings analysis for MSBuild and VSBuild tasks (see https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/WarningsPolicy.md#statistics), since we have to fully understand the structure of the log file to analyze the warnings. When we do a generic analysis, we simply count warnings but do not collect any additional information abou

[2018-05-18 10:44] cosminstirbu commented on #2
Hi,

Thank you for your in depth answer.
What would be a good non public way for me to share the CAKE logs with you?

As for question number two.

If we would go down the initial suggested way, of wrapping Cake using a .NET project so we can build it with MSBuild task, would we get the source linking and the new warnings diff out of the box?

Thank you,
Cosmin

[2018-05-18 10:57] almtcger commented on #2
You can send in the logs using our official support address PSGerExtSupport@microsoft.com.

And yes, I believe that our MSBuild task would simply pick up all warnings logged by the internally called MSBuild process and publish them as build issues. I've never worked with CAKE but perhaps you can create a small sample with an MSBuild wrapper to make sure it works before you invest time into your ac

[2018-05-18 11:30] cosminstirbu commented on #2
I've sent out an email with the **Cake Build Logs** subject.

In the meanwhile I'll have a look at wrapping the cake build invocation with a .NET project.

Thank you,
Cosmin

[2018-05-20 17:00] almtcger commented on #4
Hey there,

even if the publish code coverage or the VS test task has finished, code coverage data may still be processed in the background. The tasks only trigger the upload of data, but the actual upload is done asynchronously by the build agent. In addition, even if the upload to TFS or VSTS has finished, code coverage data needs to be processed on the server before our task can read the data.

[2018-05-21 14:34] almtcger commented on #4
@messinadan: What you describe is exactly the "problem" with the asynchronous data processing. In most cases the data should be available within our default wait time of one minute. However, sometimes either the build infrastructure, build machine or TFS/VSTS are slower and it takes a bit more time. Since multiple of our customers seem to be running into this sporadically, I think we should increa

[2018-05-21 14:34] #4 closed, assigned to almtcger

[2018-05-22 22:00] camp-007 commented on #3
I'm no longer getting that error, however, it does not appear to be working.  I checked the agent machine afterwards and I still had all the source files.  Should the logs give any more messages indicating folders were cleaned?  Or do these logs look correct to you?

[code]

[2018-05-22 22:38] almtcger commented on #3
Hi Joe,

you need to look at the post-job script log instead of the task log. In order to run the cleanup after all other build steps, I needed to move the cleanup logic to a post-job script.

How did you configure the clean option of your build? If you're using Git and have the clean option set to sources, we will simply run git clean and git reset --hard HEAD for the repo and all submodules. Thi

[2018-05-23 13:54] camp-007 commented on #3
I see the logs now in the post job step.  I can verify it is running the same git command as the beginning of the build.  Looks like it is working perfectly!  Thanks for your responsiveness!

[2018-05-23 14:00] almtcger commented on #3
Hey, thanks for the update. I'm glad we got you unblocked. Feel free to contact us again if there are any additional issues or questions.

René

[2018-05-28 07:19] cosminstirbu commented on #2
Hi @almtcger,

I've ended up using https://github.com/cake-contrib/Cake.Issues.MsBuild to parse the warnings and manually report them to VSTS so they are picked up by your extension.

Things work out nicely, warnings are now picked up and my builds fail if I introduce new ones.

Not sure if there is a way that the extension can also provide some sort of Source Code navigation, but if not, that's f

[2018-06-04 14:09] vfeier opened #5 "BuildQualityChecks Hangs Sometimes for .Net Solution w/o Tests"
BuildQualityChecks will hang sometimes, while running on a **.Net solution which contains no tests**.
This is the log of a hanging build:

The build was running for ~37 minutes, out of which around 34 were spent hanging at build quality checks.
On a build that doesn't fail, the task ends immediately after:

[2018-06-04 14:24] almtcger commented on #2
Thank you, Cosmin, for the update!

I'll look into the conversation you mentioned and also take a look at the Cake.Issues.MSBuild project. I promise to still check if some tweaks to our MSBuild log parsing logic might capture issues in you scenario without the need for additional tools.

I'm closing this issue for now. If you have any additional feedback, questions, or issues, please feel free to

[2018-06-04 14:24] #2 closed

[2018-06-04 14:38] almtcger commented on #5
Hi Vlad,

I found the issue to be caused by a typo in our waiting code and already fixed it. The new version 4.0.4 should not have this issue anymore.

Thanks for reporting this!
René

[2018-06-04 14:38] #5 closed

[2018-06-08 22:05] abergie opened #6 "Missing localization causing build warnings"
[code]

Issue similar to: https://github.com/Microsoft/vsts-tasks/issues/5815

[2018-06-11 20:43] aapalm opened #7 "Percentage based coverage does not allow for small variance due to round-off?"
Based on our observations, it seems the Variance for percentage deltas can only have a precision of 2 decimals, which does not allow for small variance (when denominator is large).

For example, we use our previous builds to compare block coverage using percentage delta, and allow for a "0.006" variance (appears to be percentage based when the delta is percentage), to allow for around 30 blocks to

[2018-06-11 21:27] almtcger commented on #6
Hi Aaron,

thanks for letting us know. The issue is caused by a version mismatch of the vsts-task-lib used in our task and one of our helper npm modules. I'll fix this with the next update (hopefully tomorrow).

René

[2018-06-11 21:34] almtcger commented on #7
Hi Aaron,

thank you for pointing out this issue. We currently have a fixed precision when calculating percentages for code coverage. I'll update the policy to use the precision defined by the variance. The update should go out tomorrow.

René

[2018-06-13 07:37] ReneSchumacher commented on #6
Hi Aaron,

the issue has been fixed in version 5.0.0 of the task, which will be released today. I'm closing the issue now. If there's anything else you need help with, please let us know.

René

[2018-06-13 07:37] #6 closed

[2018-06-13 07:42] ReneSchumacher commented on #7
Hi Aaron,

I have updated the code coverage policy and increased the standard precision from two decimals to four decimals. This picks up a change of one element in a million elements (e.g., one block in a million). Setting a smaller variance will automatically increase the precision (e.g., a variance of 0.00001 will pick up a change of one block in ten million blocks). The new version 5.0.0 will

[2018-06-13 07:42] #7 closed

[2018-06-18 06:24] huf1 opened #8 "Resource file warnings with newest version 5.0.0"
excerpt from build log..

2018-06-18T06:18:44.4498614Z Total warnings: 0
2018-06-18T06:18:44.4499004Z Filtered warnings: 0
2018-06-18T06:18:44.4529304Z Validating code coverage policy...
2018-06-18T06:18:44.5731883Z ##[warning]Resource file haven\'t set, can\'t find loc string for key: WaitForCodeCoverageData
2018-06-18T06:18:44.5742767Z WaitForCodeCoverageData
2018-06-18T06:18:46.6542776Z ##[warn

[2018-06-18 06:28] huf1 commented on #8
Closed, sorry log shows a build with version 4.x

[2018-06-18 06:28] #8 closed

[2018-06-18 22:05] btparker-work opened #9 "Check Build Quality task cannot get past code coverage data to compare against"
Hello, We added the Check Build Quality extension to our on-prem TFS 15.117.26714.0 environment.  Somehow the Check build quality task does not seem to see the coverage data from past runs...even though we can go view those past builds and see the coverage results.  Our coverage results are captures in the cobertura format with the 'Publish Code Coverage Results' task.

2018-06-18T19:42:31.3056913

[2018-06-18 23:38] ReneSchumacher commented on #9
Hi!

I can only see one issue in your log file and that is related to a localization bug. This has been fixed in the latest version (5.0.0). Apart from that that log lists a code coverage of 43.1% (831 of 1928 lines).

What behavior did you expect? And how did you configure the task?

René

[2018-06-19 01:00] btparker-work commented on #9
Actually I looked further and found that incorrect settings for Platform and Configuration.  When I left them blank, the extension seems to work.  We will upgrade to 5.0.0 to get rid of the localization warnings.  Thanks!

[2018-06-19 07:29] #9 closed

[2018-06-19 07:33] ReneSchumacher commented on #9
Thanks for the update. Configuration and platform are usually not supported by 3rd party code coverage tools. You can check on the build summary page if your code coverage values have a platform/configuration associated. If so, please use those values in the task configuration, otherwise leave the values empty.

I have closed the issue now. If you need any additional help, though, please feel free

[2018-06-26 04:03] patnolan opened #10 "Getting unexpected warnings with "Build Quality Checks" TFS Build task"
Hi,

When I run the "Build Quality Checks" TFS Build task everything seems to work ok, however, I get the following warnings. What can I do to prevent these warnings from being produced?

2018-06-26T03:51:42.4890884Z ##[warning]Resource file haven\'t set, can\'t find loc string for key: BaselineBuild

2018-06-26T03:51:43.3484060Z ##[warning]Resource file haven\'t set, can\'t find loc string for ke

[2018-06-26 06:39] ReneSchumacher commented on #10
Hi Patrick,

this is a known issue in version 4.0.4 of the task and was caused by a library version mismatch. It has been fixed with version 5.0.0. Please update your build definitions to the new version and the warnings should be gone.

René

[2018-07-02 20:11] ReneSchumacher commented on #10
Closing this issue as I believe it is fixed with the new version. Please open a new issue if additional problems arise.

René

[2018-07-02 20:11] #10 closed

[2018-08-01 13:45] fplourde opened #11 "Code coverage failed although coverage improvement"
The percentage from our last build is 94.8%, and the current one is 95.3, but the task `Check build quality` failed.

Note the build had more code but less covered blocks. We are using the attribute `[ExcludeFromCodeCoverage]` to remove configuration specific code from Code coverage.

**Here our configurations:**
We are on a private TFS VNext server and using `Check build quality 5.0.2`.

![image]

[2018-08-01 14:02] ReneSchumacher commented on #11
Hi Frédéric,

could you check your delta type setting? If it is still set to "absolute" the policy does not compare the percentage values but the absolute blocks covered. As you mentioned yourself, the number of total blocks covered has decreased.

René

[2018-08-01 20:11] fplourde commented on #11
Delta type `Absolute Value` is indeed checked, but hidden by `Force Coverage Improvement` .

Funny that a hidden setting impact how the task is running.

Thanks for the help and have a nice day

[2018-08-01 21:04] ReneSchumacher commented on #11
Hi Frédéric,

thanks for the feedback. Of course, you're absolutely right, the hidden option should not affect the policy. I forgot that we force percentage values when using the "Force Coverage Improvement" option. Thus, the issue is indeed a bug. I'll release a new version soon that fixes this problem and automatically compares percentage values in your case.

René

[2018-08-01 21:38] ReneSchumacher commented on #11
Hey,

the issue has been fixed and the new version (v5.0.4) of the task will be released tomorrow. I'm closing the issue now. If you have any additional problems or if the problem occurs again with the new version, please reopen or create a new issue.

Thanks and happy building!
René

[2018-08-01 21:38] #11 closed

[2018-08-29 14:12] papa-pep opened #12 ""Assigned To" not optional"
It appears that the "Assigned To" field is not optional as the documentation suggests.

Error in log: "Input required: assignedTo"

[2018-08-29 14:19] ReneSchumacher commented on #12
Hey Greg,

sorry for that. I didn't realize I always tested with an identity and the code actually treated Assigned To as required. Give me about five minutes and I release an update.

Cheers,
René

[2018-08-29 14:30] ReneSchumacher commented on #12
The update is public. This should fix the issue. If not, please let me know an I'll reopen the issue.

[2018-08-29 17:35] papa-pep commented on #12
Thank you!

[2018-08-29 17:45] papa-pep commented on #12
I'm not sure it's related, but I can no longer view the build that contained the step.  All others work fine.

![image](https://user-images.githubusercontent.com/13069258/44805265-56cdd780-ab89-11e8-9261-29577c16795b.png)

[2018-08-30 18:20] ReneSchumacher commented on #12
Hey, sorry for the late reply. I'm glad you confirmed that the issue is fixed now. The new issue shouldn't be related to the task update - at least I cannot think of any way a new task version should impact the rendering of the build summary UI.

If I understand your addition correctly, the second issue is gone by now? Otherwise I might be able to help investigate the root cause.

[2018-08-30 18:30] papa-pep commented on #12
I'm still experiencing the error mentioned above.  I've also opened a ticket with vsts but haven't received a reply yet.

[2018-08-30 18:31] papa-pep commented on #12
Case number: 118083018897642

[2018-09-03 10:24] andreyns opened #13 "The task filters out warnings generated by custom scripts"
Our build has a custom step with an inlined powershell script that generates the following build issues:
[code]

The 'Build Quality check' task correctly finds them and although 'Warnings Filters' configuration section is empty, the task for some reasons filters the warnings out:

[code]

What could be the reason?

[2018-09-03 11:17] ReneSchumacher commented on #13
Hi Andrey,

could you run your build again with the variable System.Debug set to true and then either post the task log here or send it to our support email address PSGerExtSupport (at) Microsoft.com? The debug log has all the information I need about the task configuration in your build so I should be able to see the root cause for the behavior.

Thanks,
René

[2018-09-03 11:28] ReneSchumacher commented on #13
Hi again,

I believe I already found the issue and it's probably best for us to change that behavior. When you activate warning statistics (as I believe you did), the task does not directly use the warnings counts from the build timeline. Instead, it runs the log file of each inspected task through a special log analyzer. We only have such an analyzer for MSBuild-based tasks (MSBuild and VSBuild).

[2018-09-03 12:09] andreyns commented on #13
thanks.
indeed, once I deactivated warning statistics, the task handled the case correctly
[code]

[2018-09-03 12:17] ReneSchumacher commented on #13
Thanks for confirming my first assumption. The fix is already in our CI/CD pipeline and should go out today. I'll update the issue once it is public.

[2018-09-03 19:25] #13 closed

[2018-09-10 23:39] grantborthwick opened #14 "BuildQualityChecks task transiently thinks that the code coverage for a build is 0%."
![image](https://user-images.githubusercontent.com/2301725/45329971-ea06f580-b517-11e8-90aa-ff4fe040e9ad.png)

[2018-09-11 13:57] ReneSchumacher commented on #14
Hi Grant,

thanks for reporting this. I believe this issue has already been fixed with version 5.x. Could you please update the task to the latest version and run your build again? If the problem persists, please run the build again with the variables System.Debug and BQC.LogRawData set to true and send us the task log via email to PSGerExtSupport (at) microsoft.com. Please check the log file for

[2018-09-11 19:20] grantborthwick commented on #14
I've updated to version 5.x, and it appears to be working. I'll send logs if I see failures. Thanks, René!

[2018-09-11 19:20] #14 closed

[2018-09-17 09:40] MikeWilliams-UK opened #15 "Show warnings count per solution"
In our build definition we build seven solutions hence it can be difficult to find out which of them has caused the increase in warnings.

In the phase where the this extension count the warnings it would be very useful if the count per solution was displayed.

Currently this is logged as
`
Counting warnings from tasks:
- Build solution $/Solution1.sln
- Build solution $/Solution1.sln
- Build solu

[2018-09-17 15:52] ReneSchumacher commented on #15
Hi Mike,

I like the idea of adding a bit more structure to the output. Let me see what I can do over the next three hours while I'm on the train back home. If all goes well, I'll have the change ready for release tonight.

René

[2018-09-19 21:01] ReneSchumacher commented on #15
Hi Mike,

sorry for the delay. We had another feature request (StyleCop Runner log analysis) and decided to add that one as well. The new version is currently being reviewd by my team and should be available in the marketplace tomorrow (Sept. 20).

René

[2018-09-20 14:12] MikeWilliams-UK commented on #15
How do I update the extension in VSTS?

I can only see an options to disable it or un unstall it.

Is the only way to update via Uninstall and re-install?

[2018-09-20 15:34] ReneSchumacher commented on #15
Hi Mike,

you don't need to manually update the extension. Azure DevOps extensions are updated automatically when a new version is published to the marketplace.

René

[2018-09-20 16:11] MikeWilliams-UK commented on #15
Thanks, thats good to know.

[2018-09-20 20:02] ReneSchumacher commented on #15
The new version is publishing right now. You should see it in the marketplace in a few minutes. I'm closing the issue for now. If you have any other requests or feedback, please feel free to open a new issue.

Happy building!
René

[2018-09-20 20:02] #15 closed

[2018-09-27 21:25] MisinformedDNA opened #16 "Quality Checks for PRs"
When PRs come in, they are always on a new branch and, thus, have no baseline. What's the best way to handle this? Looks like someone intended to [write documentation](https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/PullRequests.md#pull-request-policy-builds) for that scenario.

I was thinking of only adding this task in the PR build, but maybe it should be

[2018-09-28 00:32] MisinformedDNA commented on #16
Well that's weird, when I ran the PR build with CI build as the baseline, it interpreted that as all the issues going away and then coming back.

![image](https://user-images.githubusercontent.com/1784452/46181486-a9cfa300-c28b-11e8-8e29-f80f4ee64ff6.png)

Here's the log from the task:

[2018-09-28 01:31] haovanvo opened #17 "Failed to load additional fields"
The extension can not load additional fields when clicking on browse button. The issue is below:

![image](https://user-images.githubusercontent.com/7547579/46182942-b3dbbb00-c2f8-11e8-9063-00a0c7ad4d86.png)

I tried with chrome and Edge browsers. the issue is the same.

[2018-09-28 05:44] ReneSchumacher commented on #16
Hi Dan,

you're right, I always wanted to write proper documentation for this scenario and always had more urgent things to do :(

Adding the policy to your build for the master branch is correct. If possible, you should even use the same build defintion for CI and PR builds. If some of the steps in CI are not needed during PR, you can easily skip them using custom execution conditions based on th

[2018-09-28 05:49] ReneSchumacher commented on #17
Hi Hao,

thanks for rasing this issue. Can you give me a bit more context about your scenario? Are you using the task on Azure DevOps Services or on TFS? If the latter, which version of TFS are you running? What work item type are you tring to create and are there any special customizations in the work item type? Is the task part of a build or a release definition?

Thanks!
René

[2018-09-28 06:07] ReneSchumacher commented on #17
Hi again,

there seems to have been an update to Azure DevOps Services that causes the issue. There now are work item fields that have no field definition in the organization (e.g., System.IterationLevel1 to System.IterationLevel7). I don't know where these fields come from, but I'll add a quick fix to just ignore them for now and work with our product team to get more information about those addi

[2018-09-28 07:28] ReneSchumacher commented on #17
Just a quick update: the fix is already in our pipeline, waiting for a colleague to approve my PR.

[2018-09-28 13:03] ReneSchumacher commented on #17
Hi Hao,

I just pushed a fixed version (1.0.7) of the task to the marketplace. I'm closing the issue for now. If you still have problems with the task or need additional help, please feel free to contact us again or create a new issue.

Thanks and happy building!
René

[2018-09-28 13:03] #17 closed

[2018-10-08 17:50] jlbaptista opened #18 "Post Build Cleanup custom conditions not working"
I've tried to have the Post Build Cleanup task only run when the build succeeds or is canceled, but regardless of the build status, the task always run.
I've tried the following custom conditions:
- ```in(variables['Agent.JobStatus'], 'Succeeded', 'SucceededWithIssues', 'Canceled')```
- ```or(succeeded(), canceled())```

But none of them worked. The other options seem to work correctly.
Am I missi

[2018-10-08 18:23] ReneSchumacher commented on #18
Hi José,

thanks for reporting this issue. I quickly checked the code and saw that we had a bug in the post-job script that does the actual cleanup. The Post Build Cleanup task has two phases. There is the task itself which you can control using the execution control options you mentioned. The task checks the clean option and then sets an internal variable based on which the post-job script does t

[2018-10-09 08:06] ReneSchumacher commented on #18
The fixed version (3.0.7) is online now. I'm cloisng the issue for now. If you still have problems with the new version, feel free to open a new ticket or send us an email.

Happy building,
René

[2018-10-09 08:06] #18 closed

[2018-10-09 08:12] ReneSchumacher commented on #16
Hey Dan,

I'm going to close this issue for now, as I didn't receive any new feedback. Please feel free to open another issue if you need more help.

Thanks,
René

[2018-10-09 08:12] #16 closed

[2018-10-09 23:51] MisinformedDNA commented on #16
Sorry. It's working great now!

[2018-10-23 03:26] vladbarosan opened #19 "Build Quality checks for Node repos ?"
Hello,
We are trying to use the Build Quality Checks task for our repo (which is a node app) but it doesnt seem to work.

The only output we get is:

2018-10-23T00:20:28.7761367Z Waiting for code coverage data...
2018-10-23T00:20:31.0172524Z Waiting for code coverage data...
2018-10-23T00:20:33.2352164Z Waiting for code coverage data...
2018-10-23T00:20:35.4701525Z Waiting for code coverage data..

[2018-10-23 06:36] ReneSchumacher commented on #19
Hi Vlad,

our task does not calculate coverage values itself. It merely uses the data that has been published to Team Foundation Server or Azure DevOps Services by another task (e.g., Visual Studio Test task, Publish Code Coverage Results task). We'll clarify that in our docs as a couple users have had similar questions.

Please let me know if you need anything else!
René

[2018-11-05 06:15] JeffreyGarrett opened #20 "Yaml task not found"
When trying to operate as a yaml file task is not recognized by azure build.

Error: Job Job1: Step references task 'BuildQualityChecks' at version '5' which does not exist.

- task: BuildQualityChecks@5
  displayName: 'Check build quality'
  inputs:
    checkWarnings: true
   forceFewerWarnings: true
    showStatistics: true
    checkCoverage: true
    coverageDeltaType: percentage
    buildConfi

[2018-11-05 09:15] ReneSchumacher commented on #19
Hi Vlad,

since I haven't received any feedback from you I'm assuming that you resolved your issue. Therefore, I'm closing this issue for now. If you need additional help, please let us know or open another issue.

Happy building!
René

[2018-11-05 09:15] #19 closed

[2018-11-05 09:48] ReneSchumacher commented on #20
Hi Jeffrey,

our task also works in yaml builds (I just retested again). However, your yaml looks a bit strange. The task name should have a namespace syntax and the inputs look as if some things are missing and some are wrong. When I generate the yaml for the task using your configuration (or what I assume would be your configuration), I end up with this:

[code]

You could try to copy this to yo

[2018-11-05 14:59] Danlewis3 opened #21 "Proxy Auth"
If you are behind a proxy this extension wont allow you to connect to create the workitem

[2018-11-05 16:10] vladbarosan commented on #19
@ReneSchumacher yes, for future reference, a task that publishes test coverage is required ( just doing test coverage is not enough)

[2018-11-05 18:43] JeffreyGarrett commented on #20
Thanks for the response but I tried that and got this.
![image](https://user-images.githubusercontent.com/8009595/48019195-aa0f5980-e0e7-11e8-977c-1f28ad3bea44.png)

[2018-11-05 19:42] JeffreyGarrett commented on #20
The extension is installed and I'm using azure devops Services.

![image](https://user-images.githubusercontent.com/8009595/48022363-ce6f3400-e0ef-11e8-9952-e837b6c8272d.png)

[2018-11-05 20:00] ReneSchumacher commented on #20
Hm, that's strange. It works on Azure DevOps on our side. Have you tried removing and reinstalling the extension?

Also, could you try reading the extension information usind the REST api described at https://docs.microsoft.com/en-us/rest/api/vsts/extensionmanagement/installed%20extensions/get?view=vsts-rest-4.1? Use mspremier as the publisher and BuildQualityChecks as the extension name.

[2018-11-06 21:39] ReneSchumacher commented on #21
Hi Dan,

thanks for reporting this issue. The task should automatically pick up the proxy settings from the agent itself. However, we haven't explicitly tested that as we don't have a proxy environment yet.

How did you configure your task? Did you follow the steps outlined at https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/proxy?view=vsts&tabs=windows?

René

[2018-11-09 23:36] JeffreyGarrett commented on #20
I went to remove the extension and now got a different error just trying to reinstall.
The task definition with id '16a2ad20-f191-11e5-bed4-ab22bcd17937', name 'BuildQualityChecks' and version '5.2.1' already exists.

I'll also try the rest API

[2018-11-11 23:45] ReneSchumacher commented on #20
Hey,

that is even stranger. Removing the extension should always fully remove the task as well. The only way to create this issue - at the only I can think of - is to manually install just the build task using the tfx cli tool. However, you'd have to extract the task from the vsix file to do so.

It would really help to see the ouput of the REST call after you removed the extension from your Azur

[2018-11-11 23:46] ReneSchumacher commented on #21
Hi Dan,

could you resolve the issue or do you need additional assistance?

René

[2018-11-12 16:14] JeffreyGarrett commented on #20
Is this the response your looking for?

{"$id":"1","innerException":null,"message":"TF1590003: No app with id mspremier.BuildQualityChecks is installed in this organization.","typeName":"Microsoft.VisualStudio.Services.ExtensionManagement.WebApi.InstalledExtensionNotFoundException, Microsoft.VisualStudio.Services.ExtensionManagement.WebApi","typeKey":"InstalledExtensionNotFoundException","errorCod

[2018-11-12 23:22] ReneSchumacher commented on #20
Yes, that's what I was looking for. However, it doen't help me understand your issue. The API clearly states that the extension is not installed; on the other hand, you got an error trying to install the extension again. If you still receive this error, could you try the following:

1. Install Node.JS (if not already installed) from nodejs.org
2. Install the tfx cli tool (run `npm install -g tfx-c

[2018-11-14 03:50] JeffreyGarrett commented on #20
Thank you! So good news is that I was able to delete the task and enable it for the organization.  The interesting piece though is when I added it via the GUI online it says it added it, but tfx doesn't show it in the file and I still get the original error that it doesn't exist.

[tasks.txt](https://github.com/MicrosoftPremier/VstsExtensions/files/2579114/tasks.txt)

I'm wondering is it possible

[2018-11-14 04:01] JeffreyGarrett commented on #20
actually I was able to run tfx and when trying to install it shows it's installed although the list function doesn't show it.
![image](https://user-images.githubusercontent.com/8009595/48459439-f52c0b00-e77e-11e8-9b88-986ef9f01617.png)

[2018-11-14 04:18] JeffreyGarrett commented on #20
Oh it looks like I fixed it.  I was able to disable it and then re-enable it and it started working and showed in TFX.  So it sounds like the installation has an issue around it being enable.

So although that doesn't solve the problem it is a good work around and we are good.

Secondly can you help with where would I go to see all the variables for your extension for the yaml file?  How do I know

[2018-11-14 04:48] ReneSchumacher commented on #20
Hey,

first, that is indeed good news even though it makes me feel a bit uneasy as there should never be such a hassle with the installation of a build extension. There are at least two uninstalls I can see from our telemetry that have a reason similar to "I couldn't find the task after I installed it". We will definitely have to look into this. Could you tell me in which region your Azure DevOps

[2018-11-14 05:02] JeffreyGarrett commented on #20
Ya the region is Central US.  Normally we deploy to east us as it seems like more features and better stability, but it is what it is.

for the yaml, those are very helpful workarounds and good enough for me!   Thanks for your help and attention.  I appreciate getting this solved without waiting weeks!

[2018-11-21 09:20] ReneSchumacher commented on #20
Hi Jeffrey,

I'm closing the issue now as I believe it was fixed for you. I'm also working with the build and marketplace teams as there seems to be a general problem with extensions right now that affects some but not all users/organizations. We're working on it.

If you need anything else, please let me know or open another issue here.

Happy building!
René

[2018-11-21 09:20] #20 closed

[2018-11-21 09:22] ReneSchumacher commented on #21
Hey Dan,

I'm closing this issue for now as I didn't receive any feedback from you. If the problem still persists and you need additional help, please let us know.

Happy building!
René

[2018-11-21 09:22] #21 closed

[2018-11-21 17:36] WillSullivan opened #22 "Doc link in the output is wrong"
The output window says https://github.com/almtcger/VstsExtensions/blob/master/BuildQualityChecks/en-US/overview.md but "almtcger" should be "MicrosoftPremier".

[2018-11-22 10:03] ReneSchumacher commented on #22
Hi Will,

thanks for the feedback. Which output window do you mean exactly? And which version of the extension/task are you using? I have searched the current version of the task for ocurrences of "almtcger" and didn't find any except for internal information where "almtcger" is still correct.

René

[2018-11-25 07:48] lenisha opened #23 "task version CreateWorkItem fails"
Getting message after installing the createworkitem extension
"Job Failure: Step  references task 'CreateWorkItem' at version '1' which does not exist."

jobs:
- job: Build
  pool:
    vmImage: 'Ubuntu 16.04'
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'dotnet test'
    inputs:
      command: test
      workingDirectory: apis/poi

- job: Failure
  dependsOn: Build
  condition: failed() # t

[2018-11-25 09:31] lenisha commented on #23
Found the issue- it run only on windows image (not ubuntu)

[2018-11-25 09:56] ReneSchumacher commented on #23
Hi Elena,

all our tasks work on all types of build agents (Windows, Linux, MacOS). There currently are some issues with extensions on Azure DevOps that the product teams are already investigating. If you get the error message that a build task from an extension does not exist even though you installed the extension, please try disabling and reenabling the extension. This has worked for multiple o

[2018-12-04 13:44] pratikshadange opened #24 "Build Quality Check step does not match the code coverage with VS test code coverage for dot net core"
Hi,

I have added BuildQualityCheck step in the build definition. Dot net core Test project is added for the core web api. I have used .Net Core build step before BuildQuality Check step. When code coverage is checked using Test Explorer in Visual studio, it shows 80% or more. But the same code on build shows ~30% in Build Quality check step. Shouldn't they show similar values for code coverage?
I

[2018-12-04 14:04] binaryunary opened #25 "Pull Request Policy Builds undocumented"
I'm interested in applying the Build Quality Checks task to our PR build policy, but I can't find any info on how to make it work for this use case. This piece of documentation is still in a TODO state: https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/PullRequests.md#pull-request-policy-builds.

What I'd like to have is to base the quality policy on previous

[2018-12-04 14:37] ReneSchumacher commented on #22
Hi Will,

do you have additional information about the broken link? As mentioned, I couldn't find any broken links.

Thanks,
René

[2018-12-04 14:38] ReneSchumacher commented on #23
Hi Elena,

since I haven't received any additional feedback, I'm closing the issue for now. If you still need help with running our task on Linux, please reopen the issue and let us know.

Happy building!
René

[2018-12-04 14:38] #23 closed

[2018-12-04 15:00] ReneSchumacher commented on #24
Hi,

did you run the tests with the Visual Studio Test task or the Dotnet task and are you sure that all code coverage data has been properly published before running the Build Quality Checks task?

One thing that stands out in your screenshots is that the coverage file only lists 2556 total blocks while our task reports 18762 total blocks. This is a huge difference and I assume that the task is l

[2018-12-04 15:50] ReneSchumacher commented on #25
Hi!

My apologies for the missing documentation, I still haven't gotten around to create something. The scenario is fully supported and we're actually using it in our own pipeline:

![image](https://user-images.githubusercontent.com/11600642/49453681-e9fb5680-f7e3-11e8-9f39-a16b337cc5c5.png)

The Build Quality Checks needs to be configured with the correct baseline build (see screenshot). Simply s

[2018-12-04 16:24] WillSullivan commented on #22
Sorry, been busy and forgot to revisit this. Here's what I'm referring to

[code]

Maybe this is a version 3.* thing? I just verified that version 3 links in the DevOps UI are also incorrect, but apparently 4.* links are correct. I'm going to assume it's a version thing and close this.

Side question (I'd need to do some work to open an issue, so let me know if it's worth it) that might be fixed i

[2018-12-04 16:24] #22 closed

[2018-12-04 17:58] ReneSchumacher commented on #22
Hey Will,

don't worry about the delay. And yes, this is a version-specific information since it is hardcoded in the task manifest. That is why I kept the old repository and added the information that the content has moved. I cannot update the older versions of the task. Btw: the latest version is 5.1.2 and I'd recommend upgrading to that version unless it breaks something for you. 5.x has a coupl

[2018-12-04 20:17] binaryunary commented on #25
Thank you for the quick reply.

This is actually what we have been doing so far - a single build definition with task conditions.

The reason we're considering dedicated 'verification' (build, test, check quality) build definitions is that we've moved to a monorepo and we have organized our directory structure by products (solutions). Each product contains multiple deployable components/services.

[2018-12-05 07:57] pratikshadange commented on #24
I ran the dot net core step for Tests.
![image](https://user-images.githubusercontent.com/45597464/49497449-76625380-f88e-11e8-8535-0c4e11bc7512.png)
It executed all the unit test cases successfully and published using one more dot net core step to publish command. Then Build Quality check step is placed.

The code coverage blocks shown different and thats why the difference is.
Current Code cover

[2018-12-05 11:15] ReneSchumacher commented on #25
Let me make sure that I correctly understood your setup:

- You have a single repo with multiple products/components that need to be built independently.
- You have one build definition per product/component that probably gets triggered based on path filters.
- You are using topic branches and pull requests to integrate new stuff into each product/component.
- You want to compare code coverage on

[2018-12-05 12:22] davebrannan opened #26 "Code Coverage check not finding results"
I'm using version 5* of "Check build quality" extension, and even though the code coverage results are being published, the task is failing as the percentage is 0%. See screenshot. Any advice to troubleshoot? Thanks.

![image](https://user-images.githubusercontent.com/14150759/49513259-56c82c80-f888-11e8-9503-f97690bf0cc3.png)

[2018-12-05 15:15] ReneSchumacher commented on #26
Hi Dave,

how are you collecting code coverage? Do you run the Visual Studio Test task or some 3rd party tool? I can see from the screenshot that there is a line coverage of 17.72%, but you are trying to evaluate block coverage. Many tools don't calculate block coverage and only have line or branch coverage.

To find out what coverage types are available in your case, you can check your coverage r

[2018-12-05 16:09] davebrannan commented on #26
Hi Rene,

Thanks for the quick response. I'm using the Pester Test Runner from Black Marble extension, but you're correct. I've changed it to Line coverage and its now matching the Code Coverage results and the quality gate is working correctly. File under RTFM and close the issue :-)

[2018-12-05 16:09] #26 closed

[2018-12-05 18:00] ReneSchumacher commented on #24
I'm not an expert on dotnet core but I believe that the standard test run started by dotnet test does not exclude references from coverage instrumentation. You'll probably have to use runsettings as described at https://docs.microsoft.com/en-US/dotnet/core/tools/dotnet-test?tabs=netcore21 and https://github.com/Microsoft/vstest-docs/blob/master/docs/RunSettingsArguments.md to exclude those assembl

[2018-12-06 07:37] binaryunary commented on #25
Yes, your understanding is correct. And what you suggested seems like the more correct solution to my problem. I will probably switch to this approach once our code structure is more stable, but I'll just use these verification build defs for now and will use nightly builds against master as baseline.

Thank you for taking the time to help me.

[2018-12-06 09:07] ReneSchumacher commented on #24
Great to hear that you solved the issue. I'm closing the issue now, but if you need anything else, please feel free to open another issue or send an email to PSGerExtSupport (at) microsoft.com.

Happy building!
René

[2018-12-06 09:07] #24 closed

[2018-12-06 09:19] ReneSchumacher commented on #25
Hey,

good to hear that you solved the problem with runsettings. I'm closing the issue now, but if you need anything else, please feel free to reopen it, open another one, or send an email to PSGerExtSupport (at) microsoft.com.

Happy building!
René

[2018-12-06 09:19] #25 closed

[2018-12-19 21:23] elliot-j opened #27 "Task errors with "Unable to get local issuer certificate""
I am using v5.* of the Check build quality extension and my unit tests are run with version 2.* of the Visual Studio Test task with TFS 2017 on prem

I've set a Repository and Build Definition under the Base line section, and  the Code Coverage settings in the build quality task are set to the following

![image](https://user-images.githubusercontent.com/17621302/50248498-7d15be00-0398-11e9-9a1a-3

[2018-12-19 21:33] elliot-j commented on #27
Disregard, completely missed the "Disable NodeJS Certificate check" option in advanced the first few times i read through your docs. enabling that checkbox resolved the issue.

[2018-12-19 21:33] #27 closed

[2019-01-09 06:14] d1820 opened #28 "Task Line coverage not matching open cover report"
Seems the LIne and Branch Coverages do not match what is output in the coverage summary so to Check Code Coverage can fail, when the open cover results are valid

## Summary of coverage
![image](https://user-images.githubusercontent.com/377631/50880173-b1c6d500-139a-11e9-8843-aa89419c5aff.png)

## Logs
![image](https://user-images.githubusercontent.com/377631/50880143-9cea4180-139a-11e9-8d7f-478d3

[2019-01-10 15:23] ReneSchumacher commented on #28
Hey,

that looks pretty strange, esp. since all tools show different coverage values. In order to find the root cause, I'll need a couple more details. Could you please send me the coverage report generated by OpenCover? I'll then try to reproduce the issue in our environment. Send the information to our support email address PsGerExtSupport@microsoft.com.

If you only run once set of tests and ge

[2019-01-10 16:14] d1820 commented on #28
Email Sent

[2019-02-06 17:59] Blackbaud-ShaydeNofziger commented on #28
@d1820 did you ever find a resolution for this? We're experiencing similar issues where the line coverage does not match that in the Cobertura report.

[2019-02-06 18:39] ReneSchumacher commented on #28
Hey,

so far, we haven't found the reason for this. The Build Quality Checks task does not calculate coverage values itself, it merely uses the values that have been published to Azure DevOps. If the Cobertura report isn't changed after it has been published, I can only assume that there is an issue with coverage data processing in the backend. Could you send us the Cobertura coverage in which you

[2019-02-06 19:05] d1820 commented on #28
As a side note, i ended up just added a custom powershell task to the build

so we run the coverage, then look at the results and parse from there. I would prefer to use the tools here, but for the sake of time this was implemented

[code]

[2019-02-14 16:43] nine9nail opened #29 "Warnings policy results in error indicating previous build steps did not finish within the wait time"
A Visual Studio Build task followed by a Build Quality Checks task (v5.2.1 in Azure DevOps) with only the warning policy enabled (fixed threshold, 10 warnings, show warning statistics is on, and all other default values) results in the following output:

[code]

The build task was successful. Am I missing an intermittent task that might be needed?

[2019-02-15 14:47] ReneSchumacher commented on #29
Hi Joseph,

could you please turn off warning statistics and check if the timeout is gone? The root cause for this should be that it takes longer for your build to fully upload the log information to Azure DevOps. Our task needs the log infomration in order to calculate the warning statistics, but it only waits for two minutes before giving up. By turning off the statistics, we can check if there

[2019-02-15 16:30] nine9nail commented on #29
Thanks for the response! Neither turning off warning statistics nor increasing the wait time and poll interval worked. There are a very large number of warnings in this build, but it seems odd it would take that long to get uploaded. I've emailed the requested log file to the support address indicated.

[2019-02-18 15:41] nine9nail commented on #29
Received email support. It turns out that each warning is possibly sent individually to Azure DevOps backend. Tasks with a very large number of build warnings can take several minutes to finalize, requiring a larger PSGer.Build.MaxWaitTime variable to be set. After setting a larger value, the task was able to complete. We'll likely revisit this task once we are able to cleanup more warnings. Thank

[2019-02-18 15:41] #29 closed

[2019-02-28 12:16] HfCpx commented on #4
We're using TFS 2018 Update 3 and are having the same issue with some of our build agents. With one kind of agents (Windows Server 2012, having a lot of additional stuff installed like Visual Studio 2017 and third-party software), if works without any problem (takes about 5 seconds to get the code coverage results), with the other kind of agents (Windows Server 2016, having only .NET 4.6.1 install

[2019-02-28 21:28] ReneSchumacher commented on #4
Hey,

do you see code coverage values in the build summary? The task itself does not calculate code coverage so you have to make sure that the tool you use to run your tests creates coverage data and that you publish it correctly to your Team Foundation Server. Unless your build summary page displays the coverage values our task cannot evaluate it.

René

[2019-03-04 14:44] sanyappc opened #30 "Create work item task hangs"
`TaskInputs.validateIdentityValue("Abcdefghi Bcdefghijklmn <a.bcdefghijklmn@opqrst-uvwxyz.com>")`'s execution takes 3 hours. Moreover, this value is interpreted as invalid.

[2019-03-06 20:57] ReneSchumacher commented on #30
Hi Alexander,

the function merely does a regular expression test on the value. I tweaked the expression a bit and it now finishes in under a second and evaluates your address correctly. I won't be able to push out a new version until the end of the week, though. Please stay tuned for the new version and sorry for the inconvenience!

René

[2019-03-09 16:27] MikeWilliams-UK opened #31 "Can't find previous count if used in build in pull request"
I have a git repository set up.
I have protected the master brach by setting a build policy which includes running a build.

This build pipeline has a build quality check in it, which never finds the number of warnings from master. If another push is done it sees the count from the last build of the pr, but never from master.

Hence after a successful pr, if I re run the build it can fail if the m

[2019-03-09 17:46] MikeWilliams-UK commented on #31
See below
![image](https://user-images.githubusercontent.com/13162784/54075123-4793b900-4293-11e9-9e50-74952098f758.png)

[2019-03-09 17:51] MikeWilliams-UK commented on #31
Have I got a setting wrong somewhere?

[2019-03-11 11:42] ReneSchumacher commented on #30
Hi again,

the fix goes out today. I'll close the issue for now. If you continue to have problems with the task, please feel free to reopen the issue or create a new one.

Happy building!
René

[2019-03-11 11:42] #30 closed

[2019-03-11 12:07] ReneSchumacher commented on #31
Hi Mike,

this is most probably a configuration issue. By default the task always compares to the previous build that ran for the same branch. PRs use a special branch that is created to simulate the merge from your topic branch into your target branch. Thus, the task only finds warnings from that special branch.

In order to check the warnings from master, you need to set the correct baseline bra

[2019-03-12 09:41] DigitalFlow commented on #31
Hi @ReneSchumacher,

thanks for your answer. I think I'm having the same issue as @MikeWilliams-UK.
I thought a little about it and it seems as if we were only able to tackle this problem by changing our branch creation workflow. This issue does not only occur in PRs, but also in normal (new) branches.

If we have a develop branch with a coverage of 70% and we create a feature branch out of it, th

[2019-03-12 16:45] ReneSchumacher commented on #31
Hi @DigitalFlow

I'm glad you like the extension. In fact, most of the teams here at Microsoft like it too and the Azure DevOps testing team is probably going to move some of the functionality into the product. I still hope my extension can stay relevant, though :)

Your description is correct. Since the task looks for builds that ran on the same branch, every build on a new branch will become a n

[2019-03-13 14:19] DigitalFlow commented on #31
Hi @ReneSchumacher,

yes, that will definetly be helpful. Sounds like a very good approach 👍

Kind Regards,
Florian

[2019-03-13 21:15] MikeWilliams-UK commented on #31
Hi @ReneSchumacher thanks for the tip on the settings that worked a charm.

[2019-03-15 18:53] vladbarosan opened #32 "How to reset baseline with `BuildQualityChecks`"
Hello, we are trying to reset the baseline test coverage for `BuildQualityChecks` but doesnt seem to work.

What we are doing:
 - We have build definition `A` that checks coverage on PR's and also runs on master to update the baseline.
 - We have build definition `B` which runs on master and we added the force paramter to reset the baseline and we refer to the `A` definition.

Is this the proper w

[2019-03-18 16:14] vladbarosan commented on #32
@almtcger can you give some pointers here please ?

[2019-04-16 19:32] lsantos10 opened #33 "Upper Threshold not working"
I've set the value to 90%, but the quality check still fails because my build dropped the coverage from 95% to 93%. According to documentation any build with coverage above 90% shouldn't be a problem.

[2019-04-17 07:52] ReneSchumacher commented on #28
Our investigations have shown that this is an issue with OpenCover and not related to the Build Quality Checks task. We couldn't find the exact root cause but the issue seems to be related to coverage of async methods. If you encounter this issue, please contact the OpenCover support.

[2019-04-17 07:52] #28 closed

[2019-04-17 07:54] ReneSchumacher commented on #31
I am closing this issue since it was resolved with the configuration change. With one of the next updates we will try to incorporate your feedback and automatically search for a suitable baseline build along the branch hierarchy.

[2019-04-17 09:04] ReneSchumacher commented on #33
Hi!

I'm sorry for the confusion, I'd call this an "unprecise documentation" issue. The current version of the task does indeed fail the policy as soon as the coverage value decreases, even if it stays above the upper threshold. The threshold is only used to pass the policy if your coverage does not increase even though you forced increasing coverage. I'll add a new option with the next update to

[2019-05-21 23:51] aapalm opened #34 "Build quality check passes when failing to find results"
When both the current build and the baseline build fails to upload code coverage results in a timely fashion, the Build Quality Check will still pass since it sees both builds as 0% covered.  Expectation is to have the quality check fail when its unable to fetch coverage

[code]

[2019-06-03 09:11] utna666 opened #35 ""Check build quality" checks tasks that were not executed due to custom condition"
If a task did not execute due to a custom condition, "check build quality" waits for log information of that task and fails after the timeout. Is there any way to bypass this behavior?
![2019-06-03_11h00_23](https://user-images.githubusercontent.com/5910372/58790163-16a3f580-85f0-11e9-8909-534f907590d5.png)

[2019-06-04 10:24] ReneSchumacher commented on #35
Thanks for reporting this issue. We can reproduce it and it clearly is a bug that will be fixed with the next version. I'll update this issue once the fixed version is available.

Thanks
René

[2019-06-11 23:16] TsuyoshiUshio opened #36 "Prevent Duplicates ignored if the field is number"
This is very small feedback.

When we specify a filed which is only have a number. It will ignore the preventing duplicate settings.  The reason is, it seems not hit without double quote.

# Settings example

[code]

You can see the log said it is refer as a number.

# Result

If you have a several CI with the same PR, it creates work items for one PR.

# Log

[code]

[2019-06-12 19:24] ReneSchumacher commented on #36
Hi Tsuyoshi,

thanks for reporting this. This is indeed a bug in our WIQL generation that we'll fix in the next version. An update should be available within this week.

Thanks,
René

[2019-06-12 19:26] ReneSchumacher commented on #32
Closing this issue as it has already been fixed through the support email channel.

For future reference: you can set the variable BQC.ForceNewBaseline to true to force the policy to pass and create a new baseline build.

[2019-06-12 19:26] #32 closed

[2019-06-14 01:14] TsuyoshiUshio commented on #36
Thank your! Also thank for the great extension. This extension is very useful.

[2019-06-14 18:21] ReneSchumacher commented on #36
Hi again,

the bug has been fixed and the new version is in the release pipeline. You should see an updated version in a couple minutes. Thank you for the good feedback and

happy building!
René

[2019-06-14 18:21] #36 closed

[2019-06-19 13:22] eheath opened #37 "Check Build Quality Intermittently Fails"
The Check Build Quality task randomly fails. It doesn't wait until all of the code coverage files have been written, and fails the build believing that the code coverage does not meet the defined threshold.

[2019-06-19 15:10] woehrl01 commented on #37
Hi @eheath,

thank you very much for reporting. This is a known issue. We are currently waiting on a specific API change, which should be released "soon", so we can grab the code coverage in a more reliable way.

So this issue should be fixed in one of the next versions.

Until this is fixed, you can adapt the following variables of the BQC task to suit your needs:

* `PSGer.Cover.PollInterval` -

[2019-06-19 15:53] eheath commented on #37
Hi @woehrl01, thank you for the response.

If it helps at all, I've tried several different workarounds using different combinations of these variables, including setting PSGer.Cover.StableDataCount up to "10" and we still run into the issue. I suppose I could bump it even higher.

[2019-06-19 16:49] ReneSchumacher commented on #37
Hi Eric,

as Lukas mentioned, there is currently no way to deterministically wait for the coverge data merge that happens asynchronously in the background. I recommend increasing the overall wait time to a high value (default is actually 600000, i.e., 10 minutes) like 1200000, increasing the poll interval to something like 15 seconds (i.e., 15000), and increasing the stable data count to 5 or 6.

[2019-06-24 13:21] eheath commented on #37
Thanks René. Will there be a notification when the backend rollout is completed, and more information is available?

[2019-06-25 16:44] ReneSchumacher commented on #37
There probably won't be an official statement unless the testing tool team wants to share some background information about the service. The merge process and new log store is nothing users directly interact with so they won't see any visible changes (except for performance improvements).

However, I'll send out notifications to all people who complained about issue and will update this issue as w

[2019-06-26 05:51] Stratigix commented on #37
We are also waiting for a fix on this, as we cannot reliably add the Build Quality Check to our build process. Our build quality check fails every other build because it cannot reliably retrieve the coverage results. We even up'ed the poll interval to 10 seconds and the stable data count to 20, but still getting fails, and this increases our build time significantly.

[2019-06-26 10:12] utna666 opened #38 "Filtered warnings are not taken into account when comparing total warning count with previous build?"
![2019-06-26_12h06_53](https://user-images.githubusercontent.com/5910372/60171657-5636b980-980b-11e9-8f2f-050320cc8e3b.png)

[2019-06-26 14:07] ReneSchumacher commented on #38
Hi @utna666,

I assume the log output is a bit confusing and perhaps we should rename it to "warnings after applying the filter". Filtered warnings shows the number of warnings that still remain after applying all warning filters. Thus, in your case the filter apparently matches all existing warnings. If your filter would have reduced the number of warnings, you would see something like

[code]

D

[2019-07-01 11:32] jim-paton opened #39 "Extension reports different coverage figures from build"
We are using the BuildQualityCheck extension in a number of builds, however we're noticed that the figures it reports don't match the published coverage.

The project is .NET Core 2.2, using Coverlet to generate coverage - for example, in one recent build, the log from the Publish Code Coverage step shows:
[code]
The coverage report generated also shows this figure. The logs for the extension, how

[2019-07-08 11:28] ReneSchumacher commented on #39
Hi Jim,

sorry for the late response; I have been on vacation last week and my colleagues apparently were all busy. Can you check the values shown in the build summary section?

![image](https://user-images.githubusercontent.com/11600642/60806359-0e0c8500-a183-11e9-9898-fdf90d85c9df.png)

Our task does not read the coverage values directly from the coverage result file as we would have to understa

[2019-07-08 11:50] utna666 commented on #38
Hi @ReneSchumacher,

if I understand correctly, the 'Warning Filters'-Property is not there to **filter out / ignore** insignificant warnings but to let relevant warnings "through"?

[2019-07-08 11:54] woehrl01 commented on #38
Hi @utna666 ,

that's correct. The 'Warning Filter'-Property selects only the warnings you are interested in.

Lukas

[2019-07-08 17:15] ReneSchumacher commented on #33
Hi again,

I again have to apologize for the long delay. We have been waiting for some backend changes in Azure DevOps to fix another issue and these changes have finished rolling out today. We'll release a new version of the task by tomorrow at the latest and this version will have the option I mentioned above. I'll close the issue now as it should be resolved. If you still encounter problems, pl

[2019-07-08 17:15] #33 closed

[2019-07-08 17:20] ReneSchumacher commented on #35
Hi again,

thanks for you patience! There was a delay due to us waiting on a backend change in Azure DevOps. The fix is now ready for production and the new task version should be available by tomorrow at the latest. I'm closing the issue now, but please feel free to open another one if you keep hitting this or any other issue.

Thanks,
René

[2019-07-08 17:20] #35 closed

[2019-07-08 17:40] ReneSchumacher commented on #37
Hi all,

the testing tools team is finally done with the rollout of the backend changes; thus, we'll be pushing out a new task version today or tomorrow depending on the final testing. I'm going to close this issue now as it should be resolved with the upcoming version. Please let us know if you still hit this issue or any other problem.

Thanks for waiting and happy building!
René

[2019-07-08 19:08] #38 closed

[2019-07-10 14:29] mdwhitten opened #40 "Warnings statistics report shows warnings as from "unknown file""
I would like to be able to see the individual warnings per file, which seems to be possible based on the screenshot in [WarningsPolicy.md](https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/WarningsPolicy.md). However, all of my warnings appear as "Unknown File":
![image](https://user-images.githubusercontent.com/47825680/60977150-8f375980-a2f4-11e9-9edc-3b13f0

[2019-07-10 14:32] mdwhitten commented on #40
I recognize that this is probably what is meant by the statement in the documentation:

However, I had hoped that if I at least formatted my warning in the proper way, it would be picked up and reported in the same way as the MSBuild tasks.

[2019-07-10 17:35] ReneSchumacher commented on #40
Hi Michael,

sorry for letting you down, but we only run the proper analysis on logs created by one of the MSBuild-based tasks (VS Build, MSBuild) or the StyleCop task. Thus, it doesn't matter how you format your log output, the analysis logic will never pick up those log lines.

However, it looks like you're using a standard tool (TestStand from National Instruments) to run some kind of static an

[2019-07-11 09:09] Stratigix commented on #37
Hi @ReneSchumacher
I updated to version 6.* of the build task, and it looks much better, but we still get failures. I ran 11 builds consecutively and 3 of them failed, not being able to retrieve the code coverage results. All of this I ran with the default settings.

[2019-07-11 09:18] ReneSchumacher commented on #37
Hi @Stratigix

thanks for letting me know. Could you send the log for the Build Quality Checks task to PSGerExtSupport@microsoft.com so I can have a look? In theory, the task should just keep polling forever until it gets the coverage values unless the backend tells us that there is no code coverage. Perhaps there's still an issue in the backend or I missed a particular case in the new task versio

[2019-07-23 08:08] ReneSchumacher commented on #37
Closing again since the newly reported issue occurred on an on-premises Azure DevOps Server. The new code coverage merge jobs are currently not available for on-prem servers and the task falls back to the old behavior that can be tuned using the variables PSGer.Cover.PollInterval (set the interval between polls for coverage data in milliseconds), PSGer.Cover.MaxWaitTime (set the maximum wait time

[2019-07-23 17:19] Dismissile opened #41 "Quality check fails if code coverage values are exact"
If I have a unit test project that has 80% coverage over 5,000 blocks of code and I make a configuration change and run a build, my build will fail because code coverage remained the exact same value (no code was updated).

I feel this should be configurable so that values that are the exact same do not trigger errors.

[2019-07-23 17:44] ReneSchumacher commented on #41
Hey Travis,

I just replied to your question on the Visual Studio Marketplace so I just copy my answer over here so that others reading the issue have the same information:

If you enable the **Force Coverage Improvement** option, there is no way to prevent the task from failing the build unless your coverage value increased. As you mentioned you can specify an upper threshold above which the task

[2019-07-23 17:48] Dismissile commented on #41
Couldn’t there also be a checkbox along the lines of:

“Pass coverage checks if coverage values remain the same”

That way it fails if coverage has decreased, but not if it hasn’t increased.
I’m also curious what would happen if I ran the same build on the same commit twice in a row. I assume there would be no difference in coverage values between the two and therefore it would fail?

Travis Ellis

[2019-07-23 17:53] ReneSchumacher commented on #41
That option already exists. Just disable the **Force Coverage Improvement** option. It will not fail the build unless the coverage value has decreased.

[2019-07-23 17:55] Dismissile commented on #41
Oh I assumed it would only fail builds unless it met a threshold percentage in that case. Thanks for the clarification.

Travis Ellis
Solution Consultant
Mobile: 402.415.6398
Deliveron Consulting Services
[cid:image009.png@01D1E822.C4FFDE10]<http://www.deliveron.com/>
[cid:image016.png@01CF0620.0729E520]<https://www.facebook.com/deliveron>
[cid:image017.png@01CF0620.0729E520]<https://twitter.com/d

[2019-07-23 18:02] ReneSchumacher commented on #41
To fail a build based on a simple threshold, you'd have to set **Fail Build On** to *Fixed Threshold*. Whenever you set it to *Previous Build*, the policy automatically validates that the current coverage value doesn't fall below the previous value. That is the default behavior.

There are teams that want to drive up code coverage values, though. Those teams can leverage the force option, as it fo

[2019-07-23 18:02] #41 closed

[2019-07-24 21:46] mdwhitten commented on #40
Hi @ReneSchumacher,

Thanks for the quick response, and sorry for the delay on my end. Allow me to give some background here:

TestStand is a test sequencing application for engineering test automation workflows. A test sequence will consist of a variety of discrete code modules (possibly in different languages), expressions invoking the TestStand API, and evaluations of results. You rightly under

[2019-08-07 00:17] ReneSchumacher commented on #34
I'm closing this issue as it should have been fixed with the latest updates.

[2019-08-07 00:17] #34 closed

[2019-08-07 00:19] ReneSchumacher commented on #39
This issue is currently under investigation by the testing tools team. I'll update the issue with additional information as soon as I have more details.

[2019-08-14 17:07] johnnguyenfamily opened #42 "##[error]Cannot read property 'isNew' of null"
I create a simple Azure pipeline and include the "Create work item" task. Fill in all the required fields such as Display name, Team Project, Work Item Type and Title. Run the pipeline and got the error message as "##[error]Cannot read property 'isNew' of null". Here is the screenshot:

![CreateWorkItemError](https://user-images.githubusercontent.com/29356855/63040786-1ab78380-be7b-11e9-9d67-271ec

[2019-08-14 17:52] ReneSchumacher commented on #42
Hey John,

thanks for reporting this. Could you check the full log of the task and see if it has additional errors? There actually IS an issue in the task that should only occur if the creation of the work item failed; i.e., the task would have failed anyway, the error message is just bad.

If that is not the case, I'll have to dig a bit deeper.

Thanks,
René

[2019-08-14 19:22] ReneSchumacher commented on #42
Hi again,

we just released a fix for the issue I mentioned. Let me know if it fixes your issue.

Thanks,
René

[2019-08-14 23:18] johnnguyenfamily commented on #42
Thanks, it works!

[2019-08-16 07:23] prashanthbv12 commented on #42
I am facing the same issue in On prem TFS version 2017. How can i pull the fix? Please help

[2019-08-16 07:43] ReneSchumacher commented on #42
Hi @prashanthbv12,

If your running on-prem you need to download the latest version of the task from [here](https://github.com/MicrosoftPremier/VstsExtensions/tree/master/CreateWorkItem/on-prem) and update your local installation. Please ensure, though, that you're having the same issue. The fix only resolves the issue that occurred when the task failed to create a new work item. You should be abl

[2019-08-16 08:36] prashanthbv12 commented on #42
2019-08-13T22:57:10.0532944Z Cannot read property 'find' of null
2019-08-13T22:57:10.0537792Z ##[debug]task result: Failed

[2019-08-19 14:45] koshdim opened #43 ""Filter in" by "Warning Filters" or similar functionality"
I want to add to warning count some lines from build log that match my custom regexp. is this possible?

as far as I understand,  "Warning Filters" only filter out what is already considered a warning, can I expand "consideration" rules?

for example, I want existence of a line like this
 _WARNING in webpack performance recommendations:_
to be considered as a warning

[2019-08-20 06:25] ReneSchumacher commented on #43
Hi @koshdim,

thanks for the feedback. As you already realized warning filters can only be used to specify a subset of warnings at the moment. I can see the value in your request, though. I've put your request in our backlog and I'll try to work on it this week.

René

[2019-08-20 06:45] ReneSchumacher commented on #42
Hi @prashanthbv12,

this is not the same issue, even though it is in the same category (null reference). Could you follow the instructions from my previous comment and send me the log file so I can track down the source of the error?

You do not have to uninstall and reinstall the task. After downloading a newer version simply go to you local marketplace (<TFS URL>/_gallery/manage) and update the

[2019-08-20 11:28] koshdim commented on #43
hi @ReneSchumacher,

that's awesome. I managed to achieve similar results with "Powershell" script task before "Check build quality". in case somebody else faces the same issue the code looks like this:
`
& npm run build *>&1 | ForEach-Object {
    if ($_ -is [System.Management.Automation.ErrorRecord]) {
        $messageString = $_.Exception.Message
    }
    else {
        $messageString = $_.ToS

[2019-08-20 14:41] vtbassmatt opened #44 "Wrong link in task"
Hi :wave: I'm a PM on Azure Pipelines. A customer reported a bug to us, but we think it's in your task. See this link for more:  https://developercommunity.visualstudio.com/content/problem/694040/more-information-link-on-post-build-cleanup-pipeli.html

[2019-08-20 14:48] woehrl01 commented on #44
Hi Matt,

thank you! We'll have a look!

Best
Lukas

[2019-08-21 07:44] woehrl01 commented on #44
We updated the link accordingly and published a new version. Thank you for forwarding that issue @vtbassmatt .

[2019-08-21 08:37] #44 closed

[2019-08-22 12:46] ReneSchumacher commented on #43
Hi again,

I've implemented the feature you suggested and it is on its way into our release pipeline (waiting for PR approval from a colleague). The new version should be out today; just keep an eye on the marketplace. Please let me know if it meets your needs.

Happy building!
René

[2019-08-22 22:14] ReneSchumacher commented on #43
@koshdim The new version is available now. I'm closing this issue now, but please feel free to comment again, if you run into any issues or have additional feedback.

René

[2019-08-22 22:14] #43 closed

[2019-08-26 15:12] tomas-dainovec commented on #37
Hi @ReneSchumacher,

We are still getting this issue even after updating the task to 6.* on cloud Azure DevOps. However we are running our own build agents, could it cause any issues? Are there any build agent updates necessary?

Thanks
Thomas

[2019-08-27 07:39] ReneSchumacher commented on #37
Hi @tomas-dainovec,

the private agent should not impact the task in any way as the changes have been in the service backend, the APIs and our task logic. All of those changes should work for private as well as hosted agents.

I assume the issue isn't easily reproducible, or is it? I'd like to check the task log for a failing build but you'd have to run the build with the variables System.Debug an

[2019-08-28 07:45] prashanthbv12 commented on #42
I have sent log file PSGerExtSupport@microsoft.com.
My version is 1.5.2 which is  already latest.

[2019-09-05 11:04] ReneSchumacher commented on #42
HI @prashanthbv12 ,

sorry for the delay, I have been travelling a lot and didn't have enough time to work on the extension. Good news is that we fixed all compat issues with Team Foundation Server versions prior to 2018 update 2. The task as well as the task editors for all parameters should work properly now. I'm going to close the issue again, but please feel free the comment or send an email a

[2019-09-05 11:04] #42 closed

[2019-09-05 11:17] prashanthbv12 commented on #42
Do I have to update the extension manually.
Please note my TFS on prem is connected to internet

On Thu, Sep 5, 2019 at 4:34 PM René Schumacher <notifications@github.com>
wrote:

--
Thanks,
Prashanth
Hand Phone-9844730107
E-Mail-prashanthshiva12@gmail.com

[2019-09-05 11:38] ReneSchumacher commented on #42
@prashanthbv12 If you installed the extension directly from the internet (aka connected mode), the server should automatically update it. However, the background job that does the updates only runs once a day if I remember correctly.

[2019-09-05 11:47] prashanthbv12 commented on #42
I tried updating it manually but getting this error

The extension name supplied in the path 'CreateWorkItem' must match the
name supplied in the extension data 'CreateWorkItem-onprem'.

On Thu, Sep 5, 2019 at 5:08 PM René Schumacher <notifications@github.com>
wrote:

--
Thanks,
Prashanth
Hand Phone-9844730107
E-Mail-prashanthshiva12@gmail.com

[2019-09-05 11:56] ReneSchumacher commented on #42
Oh, you're right! Since you're using TFS 2017, you cannot use the version from the marketplace and it won't be updated automatically. You can find the correct on-prem version at https://github.com/MicrosoftPremier/VstsExtensions/tree/master/CreateWorkItem/on-prem.

[2019-09-17 14:34] AlmeidaAndre opened #45 "Build Quality warning filter does not match all occurrences"
I use Build Quality Checks task to check for Doxygen warnings.

The task is configured as follows:
![image](https://user-images.githubusercontent.com/29406870/65049254-d7e64100-d93b-11e9-829c-d88ab06f8a17.png)

The doxygen warnings I have are like the following:

[code]

For warnings like the above, the Build Quality Checks task gives me the output below:
[code]

It is counting only half the total

[2019-09-17 15:39] woehrl01 commented on #45
Hi @AlmeidaAndre ,

thank you for reporting this. The issue is based on using the `/g` flag inside your regex. I could verify this in a unit test, that if you omit this and just use `/ warning\: /` as the Warning Filters, it should return all 4 warnings.

Best
Lukas

[2019-09-17 16:27] AlmeidaAndre commented on #45
Hi @woehrl01 ,

I tested without `/g`, and all warnings were returned.

Thank you for your help!

[2019-09-17 16:27] #45 closed

[2019-09-18 10:28] ReneSchumacher commented on #45
@AlmeidaAndre We found the root cause for the issue and made a small change to the task to ensure that regular expressions that use the global flag (/g) also work properly. Thank you again for reporting this and helping us improve the task quality!

Happy building!
René

[2019-09-24 20:46] adammodlin commented on #37
@ReneSchumacher I'm seeing this again. Consistently reproducing every single time for a build I have. If it still the recommended guidance to set the above variables? Feel free to contact me internally on Teams if you want me to provide any logs.

[2019-09-26 11:44] jwikman opened #46 "Create Work Item task, updateRules with Iteration Path @currentIteration"
I'm using the "Create Work Item" task for creating work items in my multistage yaml pipeline.

I'm using the preventDuplicates and updateDuplicates to update existing Work Item instead creating new ones.
If I have a duplicate I want to update the Iteration Path to the current Iteration.

I'm using this for new Work Items, which works great:
[code]
But having @currentIteration in the updateRules fa

[2019-09-26 18:27] ReneSchumacher commented on #46
Hi Johannes,

thanks for reporting this issue. We can reproduce it and already identified the bug in the code. For work item updates we simply forgot to resolve the correct iteration path from the special value {team ID}@currentIteration. Sorry for that. We'll fix the issue tomorrow and publish an updated version of the task. The update should be available tomorrow.

Thanks,
René

[2019-09-26 18:34] jwikman commented on #46
Thanks René,

That was fast! 👍

[2019-09-27 11:10] ReneSchumacher commented on #46
Hi again,

we just published version 1.5.4 of the task that contains the fix, thus, I'm closing the issue. If the update still doesn't work for you or you run into other issues, please feel free to comment again, create a new issue or send us an email to PSGerExtSupport@microsoft.com.

Happy building!
René

[2019-09-27 11:10] #46 closed

[2019-09-27 11:12] jwikman commented on #46
@ReneSchumacher where can I see what version I have installed in our DevOps?

[2019-09-27 11:15] ReneSchumacher commented on #46
Unfortunately, you can only see it in the task log. If you're running on Azure DevOps Services it will automatically update to the latest minor and patch version. For Azure DevOps Server you can look into the local marketplace (http://your-tfs/_gallery/manage). You'll see the version there and can update the extension to the latest version.

[2019-09-27 11:21] jwikman commented on #46
Aah, there it was! (I'm on DevOps Services)

It's version 1.5.4, so I'll just give it a spin then.

[2019-09-27 14:01] jwikman commented on #46
@ReneSchumacher  I can confirm that this now works as expected.

Thanks a lot for fast action!

[2019-10-11 15:07] IvanAlekseev opened #47 "Code coverage check is not failing the build"
Hello, this extension worked perfectly for me for some time, but now it doesn't fail the build when coverage goes down. Can you point me at what am I doing wrong here?

Here is a build task:
[code]

It produces this log:
[code]

According to the log it should fail, but it doesn't.

[2019-10-14 16:18] Djedjeridoo opened #48 "How to ignore warning"
Hello,
I would like to ignore some of the warnings so that they are not counted.

For example, for warning CS0612 and CS0618, if I indicate the following regex in the "Warning Filter" field:
^(((?!CS0612|CS0618).)*$

I get the following result:
2019-10-14T10:22:04:04.3870956Z Total warnings: NaN
2019-10-14T10:22:04.04.3870956Z Filtered warnings: NaN

Can you tell me which regex to use?
Thanks a lo

[2019-10-14 17:54] joemorin73 opened #49 "Post Job Cleanup"
It appears that the postjob cleanup will not execute if the build is in a git pipeline that performs a postjob checkout cleanup.  Any work around for this?

[2019-10-15 22:17] ReneSchumacher commented on #47
Hi Ivan,

sorry for the delay (I'm currently on vacation). Could you run your build again with the variables System.Debug and BQC.LogRawData set to true and send the log file to PSGerExtSupport@microsoft.com so I can take a look at the data?

Thanks,
René

[2019-10-15 22:27] ReneSchumacher commented on #48
Hi @Djedjeridoo,

since warning filters are used to only count warnings that match the filter expression, it is pretty hard to create a regular expression that correctly matches all warnings except just the two. I would recommend using an appropriate compiler directive (#pragma warning) in your code instead (see https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/preprocessor-directi

[2019-10-15 22:30] ReneSchumacher commented on #49
Hi Joseph,

the task should work for git repos. Could you run your build again with the variables System.Debug and PBC.LogRawData set to true and send the logs (both the task log as well as the post job script log) to PSGerExtSupport@microsoft.com? I'll take a look as soon as possible.

Thanks,
René

[2019-10-16 09:12] Djedjeridoo commented on #48
Hi @ReneSchumacher
Thank you for your answer
In fact, using a preprocessor directive is not applicable in our case.

We use your fabulous tool to reduce the number of warnings in the project.
However, some warnings, such as the CS0612 warning, increase the number of warnings because they are triggered by all functions that call the one marked [Obsolete].
So, when the developer marks a function [Ob

[2019-10-16 09:48] chvollm commented on #48
Hi @Djedjeridoo
you can suppress the C# warning from the command line just for the build. See https://stackoverflow.com/questions/1023858/how-to-suppress-specific-msbuild-warning. Does that help?
Regards,
Christoph

[2019-10-16 23:58] aidamus opened #50 "Coverage analyzes irrelevant dll's"
I noticed when I opened .coverage file generated by ADO build, that it's trying to analyze coverage of a variety of dll's referenced in the main project thus reducing the % of coverage as a result of it. (coverage for this project should be 72.30% as shown in the second row)
Is there a way to tell the task to cover only certain dll's?

Name|Not Covered(Blocks) | Not Covered (% blocks) | Covered (b

[2019-10-17 07:20] ReneSchumacher commented on #50
Hi @aidamus,

our task does not calculate the coverage itself. Thus, you cannot configure it for specific assemblies. You have to to this while collecting the coverage data using (e.g.) a runsettings file. See https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019 and https://docs.microsoft.com/en-us/visualstudio/test/customizing-code-c

[2019-10-17 07:26] Djedjeridoo commented on #48
Great and Perfect !!
Thanks a lot for your solution.

Regards.
Dje

[2019-10-17 07:26] #48 closed

[2019-10-17 19:38] aidamus commented on #50
it makes sense! I managed to get it working using the runsettings file. Thanks a lot!

[2019-10-17 19:38] #50 closed

[2019-10-18 18:23] SuryaPractise opened #51 "Check build quality"
Hi Team,
Check build quality failing with below errors,Can you help me with solution.

#[section]Starting: Check build quality
==============================================================================
Task         : Build Quality Checks
Description  : Breaks a build based on quality metrics like number of warnings or code coverage.
Version      : 5.2.4
Author       : Microsoft Premier Service

[2019-10-18 19:12] SuryaPractise commented on #51
enabled system.debug & BQC.LogRawData,Below is few lines from logs.

Till date it was working fine from couple hours it started failing.

Waiting for code coverage data...
##[debug]-------------------- RAW DATA --------------------
##[debug]buildCoverageSummary:
##[debug]{"coverageData":[],"build":{"id":"31882","url":"https://-------------/_apis/build/Builds/31882"},"deltaBuild":null}
##[debug]---

[2019-10-18 19:31] ReneSchumacher commented on #51
Hi @SuryaPractise,

thanks for the log snippets. Apparently, the task doesn't find the coverage data anymore. Did you change anything in your build definition? Are you running in the cloud or on premises? If this is a cloud setup, could you try to update to the latest version of the task (6.1.2) and run your build again? There have been changes in the backend that might result in problems with the

[2019-10-18 19:45] SDanehy commented on #51
We just started seeing these issues too.  It started a couple hours ago.  I updated to the latest version, 6.1.2, and it us still not working.  I am no longer seeing code coverage in my build results.  I am seeing all tests pass just not the coverage

Thank you,
Shane

[2019-10-18 22:36] ReneSchumacher commented on #51
Hi @SDanehy,

thank you for letting us know that the issue seems to be spreading. In this case, I can only assume that the root cause is somewhere in the Azure DevOps Services backend and not in the task itself. To test my assumption could you please open the following URI for one of your already finished builds (just replace organization,m project and buildId) and check if there really is no code

[2019-10-19 03:00] SuryaPractise commented on #51
Hi Rene,
please find my answers in line.

1. We are in cloud,everything hosted on Azure.

2. Build Quality Checks Extension installed in our setup is 6.12.

3. Tried (just replace organization,m project and buildId) and check if there really is no code coverage reported: https://dev.azure.com/{organization}/{project}/_apis/test/codecoverage?buildId={buildId}&api-version=5.1-preview.1 by replacing

[2019-10-19 03:54] SuryaPractise commented on #51
Please find the output from last successful CI build

{"coverageData":[{"coverageStats":[{"label":"Blocks","position":1,"total":44992,"covered":34154,"isDeltaAvailable":true,"delta":0.01},{"label":"Lines","position":2,"total":18412,"covered":13425,"isDeltaAvailable":true,"delta":0.0}],"buildPlatform":"","buildFlavor":""}],"build":{"id":"31854","url":"https://dev.azure.com/---------/_apis/build/Bui

[2019-10-19 03:59] SuryaPractise commented on #51
Please find response using the URI for CI job which is failing.

{"coverageData":[],"build":{"id":"31882","url":"https://dev.azure.com/----------/_apis/build/Builds/31882"},"deltaBuild":null}

[2019-10-19 06:12] ReneSchumacher commented on #51
Hi @SuryaPractise,

your data confirms my assumption that the coverage data is missing or not correctly associated with the build. Since our task does neither calculate the coverage nor parse the coverage files itself but only reads the values from the Azure DevOps backend, we cannot fix the issue. I already informed the appropriate team and hope they can fix the issue quickly. Until then, please

[2019-10-19 06:14] SuryaPractise commented on #51
Hi Rene,

Can you share ETA for this? Its blocking our code quality check.

For now we can disable task and run pipeline.

Thanks,
Surya

[2019-10-19 06:34] ReneSchumacher commented on #51
I haven't received any feedback from the team yet and they probably won't investigate over the weekend. To speed things up I opened a support request in the developer community forms as well (see https://developercommunity.visualstudio.com/content/problem/784837/code-coverage-data-missing-from-build.html). Please add more detail to the thread if you can share more information with us (e.g., when d

[2019-10-22 10:23] IvanAlekseev commented on #47
Hi René,
Thanks for your reply. I send an email with logs as requested.
Also managed to make it work by setting one more parameter on the task:
[code]

[2019-11-06 11:31] simondel opened #52 "[BuildQualityChecks] Add logging for policy violations"
## Expected behavior
Each violated rule is logged as an error to prevent a mandatory navigation to the Summary tab in Azure DevOps.

In my opinion, the Build Quality Checks section in the Summary tab only offers a better experience if you have multiple jobs with errors. For a single job with errors, looking at logs would be easier.

## Actual behavior
Users have to navigate to the Build Quality Ch

[2019-11-12 19:14] iansul opened #53 "Is it possible to see which warnings are new when warnings policy is violated?"
We are, unfortunately, working with a lot of existing warnings, and when the warnings policy fails it can be hard to find the new warning. Is it possible to display some or all of the "new" warnings when the policy fails?

[2019-11-19 08:18] ReneSchumacher commented on #52
Hi Simon,

sorry for the delayed reply and thanks for the suggestion. We will change the task in the upcoming version so you can see warnings and errors in the build issue list. Since that list is limited (only the first couple of issues are actually listed) you still might have to go to the task's summary section in some cases, though. We unfortunately cannot change that behavior.

René

[2019-11-19 08:26] ReneSchumacher commented on #47
Hi Ivan,

sorry again for the late response. We have analyzed the issue and you seem to have hit a bug that is indeed related to the ignoreDecreaseAboveUpperThreshold setting. If this is set to true, the task assumes percentage values for coverage and passes the policy if the value is above the default threshold of 80%. In your case it assumes that the absolute number of lines is the percentage va

[2019-11-19 09:13] ReneSchumacher commented on #53
Hi!

We've been thinking about this for a while now. After parsing the log file, we have a list of all the warnings with warning ID, file, line etc. However, it is not easy to figure out which warnings are actually new warnings. Assume you have added a single code line to your file. When you build again, we see the exact same warnings but all line numbers of the warnings have changed when compared

[2019-11-19 09:50] ReneSchumacher commented on #37
Hi all,

I want to give you a very much needed update about this issue (sorry for the long period of silence). There is currently an issue in the coverage backend of Azure DevOps services that leads to the unreliable behavior of the BQC task. The Azure DevOps testing tools team is already working on a fix. As soon as that is deployed, we will double check that it works properly and update this iss

[2019-11-19 16:18] simondel commented on #52
That already sounds like a big improvement, thanks!

[2019-12-04 06:54] sureshtadisetty opened #54 "Build Quality checks for dotnet core projects"
We observed "dotnet test" publishing code coverage results only after the Agent job is completed.
Build Quality checks task is waiting for code coverage results to be available for default 10 mins and timeout with message "Unable to get code coverage data within the maximum wait time."

Task completes successfully if we try rerun failed job, but fail if re-queued (same as above).

Is this a known

[2019-12-04 08:15] woehrl01 commented on #54
Hi Suresh,

yes, unfortunately this is currently a known issue in the backend of Azure DevOps Services. The respecting team is already working on a fix. In the meantime you can send us your organization name you use in Azure DevOps, so we can apply a change which will resolve the issue for you until the fix is rolled out across the regions.

Best
Lukas

[2019-12-04 17:07] sureshtadisetty commented on #54
Thanks for confirming Lukas!

ADO org I'm working in is 'Office'

[2019-12-05 05:00] sandeepdk commented on #54
Hello Lukas,

We are facing the same problem since 1-Nov, can you please get the fix applied for Org: "dynamicscrm" Project: "OneCRM" as well.

Thanks & Regards
Sandeep DK

[2019-12-05 07:28] ReneSchumacher commented on #54
Hi @sandeepdk,

I asked the Azure DevOps team to apply the workaround for your org as well. This should fix the issue within the day.

René

[2019-12-05 07:53] woehrl01 commented on #54
@sandeepdk, @sureshtadisetty the change has been applied to both of your organizations. Please have a look if everything runs smoothly now.

Best
Lukas

[2019-12-05 09:29] sandeepdk commented on #54
@ReneSchumacher, @woehrl01 thanks for the same, i confirm that the same is working on our build pipelines.

[2019-12-06 10:59] thomashauser commented on #54
Hello @woehrl01 ,

we have the same problem. Can you apply the fix to our organization "pundz" too?
We have the problem since we updated pipelines to .NET Core SDK 3.1.100.

Thanks,
Thomas

[2019-12-06 11:04] ReneSchumacher commented on #54
@thomashauser I just requested the workaround for your org. Should be done soon.

René

[2019-12-06 11:14] ReneSchumacher commented on #54
@thomashauser I just received the feedback that the workaround is always active in your organization. Could you please run your build again with the variables System.Debug and BQC.LogRawData set to true and send us the log files (the one from your test task, the publish coverage task (if used), and the BQC task) to PSGerExtSupport@microsoft.com?

Thanks!
René

[2019-12-06 21:21] sureshtadisetty commented on #54
We verified issue is resolved for us. Thanks @woehrl01 @ReneSchumacher for quick turnaround!

[2019-12-06 21:21] #54 closed

[2019-12-06 21:47] inverted360 opened #55 "CreateWorkItem task escapes " character without checking if already \""
Found a niche bug when setting description field using CreateWorkItem task - If the text I included in Additional Fields > Description > Value was already escaped - example
`\"http://www.url.com\"`
then the task logic appends an additional \ to the " character resulting in
`\\"http://www.url.com\\"`
in my scenario it resulted in the ADO path concatenated with desired link and was broken.

suggest

[2019-12-09 11:53] ReneSchumacher commented on #55
Hi @inverted360,

thank you for reporting this! We'll look into the issue and will release a fix as quick as possible (most probably within this week).

René

[2019-12-19 05:47] lsasl opened #56 "Build quality checks failed"
Hello There,

The build quality check fails with improved branch and code coverage from previous successful build.

Attached below is the log for reference:
[code]

[2019-12-19 23:10] andrebriggs opened #57 "Baseline build ID is a pull request build not a merged to master build"
I found the following when running. The extension chose a build Id from a PR build (8820 in graphic below) not from the latest merged to master branch build (individual CI in AzDO build).

I noticed that guidance for Pull Request Policy builds is [missing](https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/PullRequests.md#pull-request-policy-builds)

## My conf

[2019-12-26 18:30] mleziva commented on #51
I was experiencing the same problem when using the task Visual Studio Test version 1.* Changing to use version 2.* resolved my issues

[2020-01-06 10:36] ReneSchumacher commented on #55
Hi @inverted360,

sorry for the delay - December has been busier than expected. I have thought about this issue and I don't think we should change the behavior. Our code ensures that every character that needs to be escaped is escaped properly. It cannot really know if it "needs" to escape something or not. Otherwise we wouldn't be able to put escaped characters into the work item.

Is there a rea

[2020-01-06 12:03] iricigor opened #58 "Associated work items not visible anymore"
Since the latest ADO changes (design only?), associated work items created with "Create Work Item" task are not anymore visible in the build summary.  The created work item is properly linked to the build pipeline, but the same information is not visible inside the build.

[2020-01-06 12:24] iricigor commented on #58
**Steps to reproduce**
- Create new pipeline
- Add "Create Work Item" task, specify work item as Task and give it title
- Select "Associate Work Item With Current Build"
- Save and Run newly created build pipeline

**Expected results**
After the pipeline finish, it will refer to the associated task WI.

**Actual Results**

Pipeline reference to associated task WI is not visible anywhere.
Task WI i

[2020-01-06 12:55] ReneSchumacher commented on #57
Hi @andrebriggs,

I'm not exactly sure what might be causing this. Since you're with Microsoft as well, I'll get back to you via email. Perhaps you can provide access to the actual build definition and builds so I can dig deeper.

Cheers,
René

[2020-01-06 13:14] ReneSchumacher commented on #58
Hi @iricigor,

what recent design changes do you mean? The UI seems to keep changing constantly and I lost track of all the different variations :-D Since you mentioned an internal org, could you just send me (reneschu) a link to one of those internal builds?

Thanks,
René

[2020-01-06 13:18] ReneSchumacher commented on #49
Hi again,

I'm closing this issue now as we haven't received any new information. If the issue still exists, please feel free to post an update and we'll open the issue again.

René

[2020-01-06 13:18] #49 closed

[2020-01-07 13:11] ReneSchumacher commented on #56
Hi @lsasl,

sorry for the delay, we have all been on Christmas vacation. The policy fails because you configured it to evaluate absolute coverage values. In your case the current build has an absolute coverage of 82 branches while the previous build had an absolute coverage value of 85 branches. Thus, the absolute coverage has decreased.

You should change the coverage delta type to percentage and

[2020-01-07 13:11] #56 closed

[2020-01-07 15:14] ReneSchumacher commented on #58
I'm closing this issue as it is not caused by our task. Apparently, there is an issue with the Azure DevOps Services UI for some organizations and I've forwarded this to the appropriate product teams internally.

If the issue shows up in additional orgs, please feel free to add a comment so we can track the affected orgs.

[2020-01-07 15:14] #58 closed

[2020-01-07 19:17] inverted360 commented on #55
I agree with your statement - my feedback was to improve the code so that if a double quote was already escaped, then code behavior would not add another backslash to the string. In my experience, adding another backslash resulted in incorrect parsing during execution. You're welcome to switch the WIT from bug to 'feature request.'

[2020-01-07 19:41] ReneSchumacher commented on #55
Thanks for your feedback. I do see your point. Yet, the task set the values in the work item exactly as they are specified. In other words: if you put escaped characters in the values, those escaped characters end up in the work item field, which is what most people probably expect.

As I said, the task cannot know your intention. If you have something like `\"` in your value, it could mean that y

[2020-01-08 18:46] sorbonad opened #59 "Build Quality Checks issue: incorrect baseline detection"
Hello, I would like to report a problem: we want to execute quality checks to verify that current code coverage is improving from previous build for a specific branch (or same branch), but after testing multiple configuration we are seeing that this is always checking against the last good build which could belong to the same branch or not, so if multiple branches with different code coverage leve

[2020-01-09 10:22] PreetSangha opened #60 "Build Quality Checks times out and fails. **"Previous build steps did not finish within the maximum wait time."**"
Our pipeline is in YAML but recently we've started getting time out issues with no other information

[code]
[code]

Can anyone suggest what we can try to debug further to find the cause of the timeout please?  Is the source available so we can perhaps install a debugging version perhaps?

Thanks

Preet Sangha

[2020-01-09 12:24] ReneSchumacher commented on #52
Hi @simondel,

we haven't been able to work on the task as the last two month have been pretty busy. Yet, the good news is that I just updated the task to properly log warnings and errors as build issues. I have a couple other things on the backlog that I want to include in the next release but you can expect a new version with your requested changes either by tomorrow or early next week. I'll pos

[2020-01-09 23:19] PreetSangha commented on #60
Here is one with the `system.debug=true` and diag on. It seems to be doing an awful load of `getBuildJobRecords` calls. So am I to assume that our build records in devops need to be checked?

[code]

[2020-01-10 13:58] ReneSchumacher commented on #47
Hi @IvanAlekseev.

the last month have been pretty busy and we couldn't work on the task until this week. Just a short heads-up: the issue is fixed now and the code changes are going into our review process today. An updated version should be available early next week. I'm going to post another comment here, when we're done.

René

[2020-01-10 14:40] ReneSchumacher commented on #60
Hi @PreetSangha,

did the task work properly in that pipeline before and the behavior changed recently? Did you change anything in the pipeline?

In order to evaluate the policies, our task needs to ensure that none of the previous tasks is still running. Otherwise it might not see the latest information in the build. Thus, we have a mechanism that waits until all previous tasks have been marked a

[2020-01-10 18:35] alexgurman opened #61 "Warnings not reported"
I can see warnings in my build log, but no warnings are counted.

Here us build log excerpt, full attached:

Using shared compilation with compiler from directory: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\Roslyn
##[warning]Main\Source\WSO.WSOData.Common\Threading\MailSlot\LocalServer.cs(183,36): Warning CS0618: 'FileStream.FileStream(IntPtr, FileAccess, bo

[2020-01-12 11:58] ReneSchumacher commented on #59
Hi @sorbonad,

sorry for the inconvenience caused by this issue. It seems to be related with the external code repository as we have seen a similar report where the code was hosted on GitHub. I'll start analyzing the behavior when I'm in the office tomorrow and hopefully have a fix in the next release which we're already preparing.

As soon as I have more information I will post an update here wit

[2020-01-12 12:54] ReneSchumacher commented on #61
Hi @alexgurman,

there seem to be several issues with the task configuration here:

First, the configuration you posted here is not the one that is in the attached pipeline definition. Thus, I am not sure which configuration you actually used.

In the configuration in your comment there is an issue with the task filters. The filter `/##[warning]/i` does not match any of the warnings in the log fil

[2020-01-12 13:42] ReneSchumacher commented on #59
I already found the root cause and fixed it. Unfortunately, we forgot to add proper support for external code repositories. Luckily, this was a quick fix. The fixed version of the task should be coming either tomorrow or on Tuesday. Stay tuned.

René

[2020-01-12 13:53] ReneSchumacher commented on #57
Hi @andrebriggs,

this issue occurs when your code is hosted outside of Azure DevOps. I have already fixed the issue and will release an updated version of the task shortly.

René

[2020-01-12 13:59] ReneSchumacher commented on #53
Hi @iansul,

I hope the warning statistics have helped tackle the problem. I have put your request on our backlog and see if we can find a way to provide more detailed information about the different warnings. As this is not a defect in the current task, I'm going to close the issue now. Please feel free to open a new one if you need anything else.

Happy building,
René

[2020-01-12 13:59] #53 closed

[2020-01-12 22:01] andrebriggs commented on #57
Thanks @ReneSchumacher! Looking forward to the new release

[2020-01-12 22:23] alexgurman commented on #61
Rene,

Did the suggested changes, no luck. These are the settings are actually
started from.
Attached are the logs and updated build file.

Alex.

On Sun, Jan 12, 2020 at 6:54 AM René Schumacher <notifications@github.com>
wrote:

[2020-01-12 22:41] PreetSangha commented on #60
Hi @ReneSchumacher

Thanks for getting back to us. I've sent an email with the details as requested. I have the full logs downloaded anyway.

For reference, it was working before, and we have added more projects to the compile. Other than that no changes to the pipeline.

Regards
Preet

[2020-01-13 08:33] ReneSchumacher commented on #61
Hey @alexgurman,

the attachments didn't come through. Could you send directly via email or use the GitHub web form to attach them?

Thanks,
René

[2020-01-13 13:49] raphaelmoreira opened #62 "Zero Warning every time"
Morning.

I have a simple app to test how the warning works. So, I did basic configurations on at (default for everything).

My App has **9 Warning** like above:

![image](https://user-images.githubusercontent.com/5034220/72260569-e72b8180-35f1-11ea-88f2-55712c49234b.png)

My Pipeline has this step

- task: BuildQualityChecks@6
  inputs:
    checkWarnings: true
    warningFailOption: 'build'
    f

[2020-01-13 15:55] ReneSchumacher commented on #62
Hi @raphaelmoreira,

the issue is caused by our default task filter value that does not properly match all default tasks when used in YAML pipelines. As a quick workaround you can use the following value:

`/^((vs|ms)build|ant(\\s+.+)?|gradle(w)?(\s+.+)?|grunt|gulp|maven(\s+.+)?|xamarin(android|ios)|xcode(\s+.+)?|cmake|build\s+.+)$/i`

I have already fixed the default value in our task so the issu

[2020-01-13 16:13] raphaelmoreira commented on #62
It works!
Thank you for the assistance =)

[2020-01-13 16:13] #62 closed

[2020-01-13 17:07] raphaelmoreira opened #63 "Warning from HTML (aspx)"
Hello.
This extension can check HTML warnings too?

In Visual Studio (mine is 2019), when you open a page (ASPX), the IDE start some kind of validation that show some warnings like below:

My App:
![image](https://user-images.githubusercontent.com/5034220/72275780-5b275300-360d-11ea-8467-bc8a9cb69f12.png)

If I just close the ASPX, the warning goes away.

What I try:

I add this:

**warningFilters

[2020-01-13 17:15] alexgurman commented on #61
Here it is, attached.
[azure-pipelines.zip](https://github.com/MicrosoftPremier/VstsExtensions/files/4054748/azure-pipelines.zip)
[logs_113.zip](https://github.com/MicrosoftPremier/VstsExtensions/files/4054749/logs_113.zip)

[2020-01-13 17:17] alexgurman commented on #61
done, thank you, through web site

please confirm they went through this time

On Mon, Jan 13, 2020 at 2:33 AM René Schumacher <notifications@github.com>
wrote:

[2020-01-13 17:40] ReneSchumacher commented on #63
Hi @raphaelmoreira,

I'm afraid the task won't be able to see those warnings. The Build Quality Checks task operates on the log file created by the build process. Thus, those warnings would have to appear in the regular output of MSBuild when compiling an ASP.NET web application. However, MSBuild simply ignores those warnings. I don't know if there are any standalone markup validators available. I

[2020-01-13 17:40] #63 closed

[2020-01-13 17:55] ReneSchumacher commented on #61
Hi @alexgurman,

thanks for the log files. The issue is related to the default task filters that currently don't work properly in YAML pipelines. See #62 for a quick workaround. The bug is already fixed and we started the review and release process. It should be published tonight.

René

[2020-01-13 18:59] ReneSchumacher commented on #47
Hi @IvanAlekseev,

we just published version 6.2.0 of the BQC task that fixes the problem you reported. I'm closing this issue now. Let me know if you still see problems with the task.

Happy building,
René

[2020-01-13 18:59] #47 closed

[2020-01-13 19:02] ReneSchumacher commented on #52
Hi again,

we have updated the logging in version 6.2.0, which was just published. Thus, I'm closing this issue now. If you need anything else, please let us know.

Happy building,
René

[2020-01-13 19:02] #52 closed

[2020-01-13 20:07] ReneSchumacher commented on #57
Hey @andrebriggs,

this issue is now fixed in the latest task version v6.2.x. Let me know if you still see issues.

Happy building,
René

[2020-01-13 20:07] #57 closed

[2020-01-13 20:09] ReneSchumacher commented on #59
Hey @sorbonad,

a new task version has been published that fixes this issue. Please let me know if you still have problems with external source repos.

Happy building,
René

[2020-01-13 20:09] #59 closed

[2020-01-13 20:14] ReneSchumacher commented on #61
Hi again,

we have released a new version with a fix for this issue. Please let me know if you still run into problems.

Happy building,
René

[2020-01-13 20:14] #61 closed

[2020-01-13 20:22] sorbonad commented on #59
@ReneSchumacher  I will test and will keep you posted

[2020-01-13 21:24] andrebriggs opened #64 "Regression in 6.2.2 and 6.2.1 of Build Quality Checks?"
Possibly related to #57 FYI, I'm using GitHub to host the code repositories.

## My config
<pre>
  - task: mspremier.BuildQualityChecks.QualityChecks-task.BuildQualityChecks@6
    displayName: 'Check build quality'
    inputs:
      checkWarnings: false
      warningFailOption: fixed
      warningFilters: ''
      showStatistics: true
      checkCoverage: true
      <b>coverageFailOption: 'Previou

[2020-01-13 22:23] ReneSchumacher commented on #64
Hi @andrebriggs,

the YAML configuration is invalid. The coverageFailOption can either be _build_ or _fixed_ but not _Previous Value_ (see https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/WarningsPolicy.md#failoption). I would have thought that the build system would throw an error when you specify an invalid entry in YAML as this clearly violates the allowed

[2020-01-14 01:44] andrebriggs commented on #64
@ReneSchumacher thanks. Changing the `coverageFailOption` to build made the error go away. I now see references to code coverage that aren't  quite what I expected. Perhaps you can help me understand.

I have a log from a build [here](https://dev.azure.com/abrig/spk/_build/results?buildId=1146&view=logs&j=f164dbd1-368a-58ba-3795-906e0bb83435&t=ab609c07-f227-54ac-3087-e06c1b252f71) :
[code]

The co

[2020-01-14 01:47] andrebriggs commented on #64
Another thing @ReneSchumacher. After looking at the documentation again I decided to remove `buildConfiguration`, `buildPlatform`, and  `explicitFilter`:
[code]

After that I get the same value (__59.8963__) for coverage in the comparison. I expect the same value since no code was changed but still confused about where the value is coming
[code]

[2020-01-14 02:15] andrebriggs commented on #64
@ReneSchumacher  Looks like the __59.8963__ value is the `branch-rate` from the `cobertura-coverage.xml` file. Correct?

[code]

This must be an issue with the code coverage HTML generation not matching what is in the `cobertura-coverage.xml` file. Sorry for the confusion

[2020-01-14 07:27] ReneSchumacher commented on #64
Hi @andrebriggs,

as you already figured out the coverage value is taken from the cobertura coverage file. Or more precisely: our task just queries coverage for a build using the Azure DevOps REST API and Azure DevOps simply takes the coverage data from the coverage result file (in your case cobertura). Unfortunately, the testing tools team decided to use the OSS tool ReportGenerator (see https://

[2020-01-14 11:15] doormalena opened #65 "Cannot read property 'filteredWarnings' of null"
When the warnings policy is turned on, and no baseline is available, the extension fails with error
`Cannot read property 'filteredWarnings' of null`

![image](https://user-images.githubusercontent.com/8328876/72338958-c92f5100-36c5-11ea-8375-a8c391bc2ed4.png)

We are using version 6.2.2 in Azure DevOps Pipelines. Its configured in a Task Group.
![image](https://user-images.githubusercontent.com/8

[2020-01-14 11:30] ReneSchumacher commented on #65
Hi @doormalena,

thanks for reporting this. The issue is already fixed and an updated version will be published today.

René

[2020-01-14 12:26] doormalena commented on #65
Thank you René.
Is this fix also fixing the following error? We just saw this one popping up as well in our pipeline.

[2020-01-14 12:58] ReneSchumacher commented on #65
Yes, it will fix that issue as well.

[2020-01-14 13:29] ReneSchumacher commented on #64
Hi @andrebriggs,

I just published v6.2.3 of the task that fixes the exception you mentioned. The task will still fail with a proper error message when the YAML properties are invalid. I'm still trying to figure out why the values differ between ReportGenerator and Cobertura/Istanbul. However, since we cannot fix this behavior in our task, I'm closing the issue but keep digging.

René

[2020-01-14 13:29] #64 closed

[2020-01-14 13:30] ReneSchumacher commented on #65
Hey @doormalena,

the errors are now fixed with version 6.2.3 of the task. Please let me know if you see additional problems.

René

[2020-01-14 13:49] sorbonad commented on #59
Hi @ReneSchumacher, I am testing and I am founding that if you set the Baseline sectino pointing to a specific Build definition, repository and Branch, the found build is the first one instead of the last one. if you leave those properties emtpy seems to be working fine. I am still testing

[2020-01-14 14:07] ReneSchumacher commented on #59
@sorbonad: You don't need to specify definition, repository, and branch unless you want to compare against a build that ran for a specific branch other than the current branch, or you want to compare against a totally different build (i.e., different build definition).

When task runs is fetches the definition and branch of the build that is executing the task. It then looks for the latest (ordere

[2020-01-14 14:08] sorbonad commented on #59
hi @ReneSchumacher, I can confirm that if you leave the properties empty it is working as expected (this work for us and is good enough to continue working) but if you try to set a specific build/repo/branch is is taking the metrics from the first build instead of the last one.

[2020-01-14 14:22] ReneSchumacher commented on #59
I cannot reproduce that behavior you describe. Even if I configure the baseline parameters, it still finds the correct baseline build (always the latest). Since the task calls the same API in both cases, the order of the search cannot change.

If you want you can send me the log files of the BQC task from the correct and the incorrect build to PSGerExtSupport@microsoft.com and I'll have a look.

[2020-01-14 14:30] doormalena commented on #65
`Cannot read property 'getAnalysis' of undefined` is still applicable in 6.2.3. The other one we're verifying now.

![image](https://user-images.githubusercontent.com/8328876/72352416-816af280-36e2-11ea-8570-a446c9c25844.png)

[2020-01-14 14:50] ReneSchumacher commented on #65
Hmpf. I missed the combination with the ForceNewBaseline parameter. Sorry about that. I'm fixing this right away.

[2020-01-14 14:53] doormalena commented on #65
Right... that is just plain luck (or dumb luck depending on your viewpoint) for finding this. We will verify it also without the override turned on. Thanks.

[2020-01-14 14:56] doormalena commented on #65
Its also occurring without the override turned on. Is there a relation with the fact that there is simply no baseline available?

![image](https://user-images.githubusercontent.com/8328876/72354553-47035480-36e6-11ea-8a2d-46228d04dd0d.png)

[2020-01-14 16:15] ReneSchumacher commented on #65
Issue is fixed, the new version will be out in a couple minutes.

[2020-01-14 16:15] #65 closed

[2020-01-14 17:39] ReneSchumacher commented on #64
@andrebriggs: I did a couple evaluations of several Cobertura reports and the corresponding ReportGenerator output and finally found the reason for the different coverage values. Apparently Istanbul does not properly report switch statements in the Cobertura report. Thus, ReportGenerator does not notice branches that are created through switch statement. I have reported this in the ReportGenerator

[2020-01-14 19:00] danielpalme commented on #64
The problem is, that the report generated by Instanbul is not consistent. If [ReportGenerator](https://github.com/danielpalme/ReportGenerator) would use the summary value (0.8889), then the branches in the code (6 of 6) wouldn't match that result.
So you can't blame ReportGenerator for that!

[2020-01-14 19:23] ReneSchumacher commented on #64
Hey @danielpalme,

I'm not _blaming_ anyone and I have explained the issue here and in the issue I created in your repo. It is still _unfortunate_ that we decided to use ReportGenerator in this case, since our build summary showed the (correct) value from the coverage summary before. Since we switched to ReportGenerator, the coverage value shown in the code coverage section is wrong due to the inc

[2020-01-14 19:43] ReneSchumacher commented on #64
Just for reference: https://github.com/istanbuljs/istanbuljs/issues/517

[2020-01-14 21:17] alexgurman commented on #61
works, thank you

On Mon, Jan 13, 2020 at 2:14 PM René Schumacher <notifications@github.com>
wrote:

[2020-01-14 22:04] andrebriggs commented on #64
Thanks for the follow up @ReneSchumacher. I might have to look into the Istanbul code.

One more question. The log below has the Build Quality Checks passing when the current code coverage is  **59.8963** and the previous (baseline) code coverage is **60.1059**. I would have expected the task to fail? Perhaps the configuration is incorrect again?

[code]

Current config
[code]

[2020-01-14 22:49] ReneSchumacher commented on #64
Yes, it's a config issue again. The default delta type is _absolute_ (see https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/CodeCoveragePolicy.md#coverageDeltaType), i.e., the policy is comparing the absolute number of blocks. Your current build has 693 covered blocks, the previous one had 681 covered blocks.

Add `coverageDeltaType: percentage` to your config

[2020-01-15 18:25] madurh opened #66 "Fails from zero warnings ##[error]Unhandled: undefined"
We have a "Check build quality" task set up to treat warnings as errors and fail the pipeline on errors.  But there are no warnings in the log from the previous build task and "Check build quality" is failing with the error message  "##[error]Unhandled: undefined"

I noticed that the previous build was run from the exact same Git commit on the same day, but that the "Check build quality" task was

[2020-01-16 07:03] PreetSangha commented on #60
Hi @ReneSchumacher

Thank you for your feed back on getting more diagnostics. We had another issue with uploading azure artefacts. This lead us investigate our network pipes to azure and with number tweaking everything is working again. To be clear the build quality checks task is now working correctly and only taking about 90 seconds now.

Thank you for your incredibly fast response.
Preet Sangha

[2020-01-16 07:04] #60 closed

[2020-01-17 10:02] rs200x opened #67 "Wrong warning count"
Hi,

with the latest update all my checks are failing because of wrong warning count comparison.

[code]

I guess the numbers 2436 / 2409 just wrongly compared.

[2020-01-17 11:02] ReneSchumacher commented on #67
Hi @rs200x,

I double checked the code and can't see any issue in there except for a small bug in the error message (it's using the same value for current and previous build when warnings aren't filtered). The comparison is done correctly based on the correct values.

Could you set the variable System.Debug to true, run your build again, and either post the task log here or send it via email to PS

[2020-01-17 14:30] mjvk opened #68 "BuildQualityChecks: allow fail on absolute increase of uncovered branches"
Currently the build quality checks only checks on covered branches/lines/blocks. This becomes troublesome. If you remove covered code this means your absolute and relative percentages drop. In practice it means that you start adding coverage in a different place only tangentially related to your pull request. If you instead would use absolute uncovered branches and do not allow this to increase yo

[2020-01-17 14:51] ReneSchumacher commented on #68
Hi @mjvk,

I actually never thought about that. You're absolutely right, the moment you start removing covered code you have to add additional tests to keep coverage values up. I put your idea on the backlog and try to implement it over the weekend.

Thanks for the suggestion!

René

[2020-01-17 21:09] rs200x commented on #67
Hi Rene,

I have 1592 issues on my current build, but 1656 on my baseline reference build.
It was working right before the updates this week.

[code]

This is from Monday
[code]

[2020-01-18 09:02] ReneSchumacher commented on #60
Thanks @PreetSangha, I'm glad everything is working again :) If you need anything else, just open another issue or send an email.

Happy building,
René

[2020-01-18 09:05] ReneSchumacher commented on #64
Hey everyone,

I submitted a fix for the coverage values issue: https://github.com/istanbuljs/istanbuljs/pull/518
I hope Corey will accept it so that ReportGenerator starts showing the same values as Cobertura.

[2020-01-18 10:11] ReneSchumacher commented on #66
Hi @madurh,

I'm not totally sure what might be causing this. The issue could already be resolved with the latest task version v6.2.4. Could you please check?

If the problem persists, please run your build again with the System.Debug set to true and send us the log file via email to PSGerExtSupport@microsoft.com.

René

[2020-01-18 10:57] ReneSchumacher commented on #67
Hi @rs200x,

I found the issue and am currently creating a fix for it. I will bundle the fix with the new feature request from issue #68 and post an update when the new version has entered our release process.

René

[2020-01-18 13:23] ReneSchumacher commented on #68
Hey @mjvk,

I just finished adding the feature to the code coverage policy. The task is now waiting for code review, which is hopefully done tonight. An updated version should be out either today or tomorrow.

René

[2020-01-18 13:45] mjvk commented on #68
@ReneSchumacher  Wow that's quick! Even over the weekend! Thank you very much.

[2020-01-18 13:59] ReneSchumacher commented on #68
Thx :) It's after all a spare time project. I'm not getting paid by Microsoft for developing extensions - even though I spend a fair amount of time doing so during my working hours ;-)

[2020-01-18 18:54] ReneSchumacher commented on #39
Hi @jim-paton,

we finally found the root cause for this issue in istanbuljs. See issue https://github.com/istanbuljs/istanbuljs/issues/517 and linked PR. Once my PR has been accepted, this should be gone. I'm going to close this issue now as there's nothing we can do from our side except wait.

Happy building,
René

[2020-01-18 18:54] #39 closed

[2020-01-18 18:57] ReneSchumacher commented on #67
Hey again,

the issue is fixed in v6.3.0 of the task and the new version is currently being published. It should be visible in the marketplace in a couple minutes. Thank you for reporting this and sorry for the inconvenience this might have caused. I'm closing this issue but please feel free to open a new one or post additional comments if you still have problems running our task.

Happy building,

[2020-01-18 18:57] #67 closed

[2020-01-18 18:59] ReneSchumacher commented on #68
The new version 6.3.0 with support for evaluating uncovered elements is public now. Let me know if this matches your expectations of if you need anything else.

Happy building,
René

[2020-01-18 18:59] #68 closed

[2020-01-18 19:48] ReneSchumacher commented on #39
Hi again,

I think I confused this issue with a different issue as istanbuljs is not even part of this. Sorry for that. Nevertheless, the issue is not related to the BQC task and I believe it might have been fixed in the coverlet project.

If you still see diverging values, please let me know. I've just fixed a similar issue for istanbuljs as mentioned above and I would try to fix this one in cove

[2020-01-21 13:22] mjvk opened #69 "Warnings not detected in current build"
Running build quality checks with warning task filters seem to match for builds that have been done (baseline) but not for the current build. How is this possible? It depends on other jobs, i.e.:

[code]

Log:
[code]
yaml:
[code]

[2020-01-21 13:26] mjvk commented on #68
Seems to work like a charm, thank you

[2020-01-21 13:38] ReneSchumacher commented on #69
Hey,

thank you for the feedback. Could you send me the full YAML file? I don't think we currently support checking warnings from different build jobs. If the task that creates warnings resides in a job other than the one the BQC task is in, it won't find them. It shouldn't find the warnings from the previous build if they were created in a different job.

Once I know the layout of your build I ca

[2020-01-21 18:49] madurh commented on #66
Hi @ReneSchumacher,
I did get the same error with v6.2.4 at least once, which I pasted below.  But now I notice the "Check build quality" task has upgraded itself to v6.3.  I will watch to see if it happens again in v6.3, then I'll turn on the diagnostics and send you the log.  Thanks @ReneSchumacher
[code]

[2020-01-21 23:17] iansul commented on #53
Will checkout the warning statistics thanks for the followup.

[2020-01-23 14:59] mjvk commented on #69
Hi Rene, somehow my post got lost. Anyway I now run all build quality tasks in the job they use data from. Works like a charm!

[2020-01-23 14:59] #69 closed

[2020-01-23 16:23] ReneSchumacher commented on #69
Thanks for confirming that it's working! :)

Coverage is a different story because coverage data is not tied to a particular build job but to the overall build. ;-) So as long as you make sure that the coverage data is published before the BQC task runs, it'll find it.

[2020-01-24 11:27] ssanderlin commented on #51
+1 updating the VSTest task to v2 solved the issue for me as well. Thank you, @mleziva

[2020-01-27 06:42] mjvk opened #70 "CoverageVariance documentation"
I think it would be nice to add to the CoverageVariance documentation if it is based on percentage or absolute?

[2020-01-27 08:24] ReneSchumacher commented on #70
Hey,

it can be both and depends on how you configure the policy. If you set the coverage delta type to absolute (the default), variance is absolute variance (e.g., number of lines, blocks, etc.). If you change the delta type to percentage, variance is also a percentage value.

Do we need to make that clearer in the docs?

[2020-01-28 17:33] MatthewSteeples opened #71 "Warning detector and code signing"
We've started signing our assemblies as part of our build process, and when we started doing it the Build Quality task started telling us we have problems. I think it's because the code signing process outputs the following text

`Number of warnings: 0`

I'm assuming that this is what is being picked up as a "warning". We've solved it ourselves by not running signtool in verbose mode, but thought

[2020-01-28 17:51] MatthewSteeples commented on #71
I may have been entirely wrong with this. I think it's now looking like an unrelated change (some of our build steps now run more than once, so I think that it's duplicating some of them that way, although that's probably to be expected)

[2020-01-28 17:51] #71 closed

[2020-01-29 06:59] joeldq opened #72 "Not cleaning on particular flag"
When the Get Sources Flag is set to : True / All Build Directories, the output of the task isthis

[code]

When switching Get Sources to Clean: True / Sources and Output Directories, then the task actually works on v3

[code]

[2020-01-29 08:29] #72 closed

[2020-01-29 08:38] ReneSchumacher commented on #72
Hi,

since you closed the issue I guess you don't need any help here?

René

[2020-01-29 08:40] joeldq commented on #72
Hello,

I am doing further testing on multiple builds to get more accurate
results, checking and will reopen

On Wed, Jan 29, 2020 at 9:38 AM René Schumacher
<notifications@github.com> wrote:

[2020-01-29 08:44] ReneSchumacher commented on #71
Hey Matthew,

even though the issue seems to have been caused by something else, feel free to comment again if you still believe our task does something unexpected or if this was caused by a configuration error due to misleading documentation. We've had some feedback that some of our docs need more clarification and I'd love to track those issues and get them fixed.

René

[2020-02-06 16:55] ReneSchumacher commented on #66
Hi @madurh,

as there haven't been any updates to this I assume everything is running smoothly now. Thus, I'm going to close the issue for now. Please feel free to post additional comments or open a new one if you see a problem again.

Happy building,
René

[2020-02-06 16:55] #66 closed

[2020-02-06 17:28] ReneSchumacher commented on #55
Since there hasn't been any more information about the parsing issue, I'm closing the issue now. Feel free to open a new one if you run into problems with the Create Work Item extension.

[2020-02-06 17:28] #55 closed

[2020-02-07 08:29] Bouke opened #73 "[BQC] Publish "PR Status" instead of failing the build"
Currently this quality gate can optionally fail the build, but doesn't participate in the "PR Status". So this means that I can either fail the pipeline (which is disruptive to automated testing), or I'd have to ask team members to verify the build warning count (which they wont). So, I would be very happy if this extension could post a ok/fail status check to the accompanying PR instead.

[2020-02-07 08:41] Bouke opened #74 "[BQC] Decorate PR with warnings"
It would be great if this extension would be able to decorate the PR with newly added warnings. So the extension would add a comment on the exact line that triggered the warning. This allows for better feedback to the developer, as they will be quicker to spot the problem.

[2020-02-07 16:01] ReneSchumacher commented on #73
Thanks for your suggestion! I've put it on our backlog and do hope to have time for this early next week. We're already working on an update of the BQC task that creates result variables for all policies so this would be a nice addition to that release.

[2020-02-07 16:15] ReneSchumacher commented on #74
Hi again!

This feature has been on our backlog for a while now. It would be easy to post comments for all warnings that we do actually understand (currently, this is only true for MSBuild related warnings that have all necessary information about the code location). However, it is not easy to just post comments for new or changed warnings, since we cannot really be sure if a warning is new or cha

[2020-02-10 07:58] mjvk commented on #70
Clear I guess, and easy to find by trial and error.

[2020-02-10 07:58] #70 closed

[2020-02-10 21:22] NorthHighlandNicole opened #75 "Getting Warning about task filter when using default value"
Why am I getting warning "The specified task filters did not match any build task." even though I am using the default value?

It seems it doesn't matter if I leave warningTaskFilters parameter off altogether if I use
`warningTaskFilters: '/^((vs|ms)build|ant(\\s+.+)?|gradle(w)?(\\s+.+)?|grunt|gulp|maven(\\s+.+)?|xamarin(android|ios)|xcode(\\s+.+)?|cmake|build\\s+.+)$/i'`

This only seems to have

[2020-02-10 23:44] NorthHighlandNicole opened #76 "If you add a display name to build, warnings will not fail the build"
Hello,

I was using this extension as a task in my .yaml file to ensure that any warnings at all will fail the build. I t was working fine, and suddenly it seems not to do so. I couldn't understand what had changed, and looked at my commits.

Finally I found that when I removed the `displayName` from my build step, it resolved the issue. Sounds like someone referenced the `displayName` instead of

[2020-02-11 00:07] NorthHighlandNicole commented on #75
Removing `showStatistics` resolved the issue

[2020-02-11 00:07] #75 closed

[2020-02-11 09:30] ReneSchumacher commented on #76
Hi,

this behavior is expected and documented as well (see https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/WarningsPolicy.md#taskFilters). For historical reasons the task looks at the display name when filtering the timeline as older versions of the build system didn't have the actual task name in the build timeline. Thus, our docs state:

To make things eas

[2020-02-11 09:38] ReneSchumacher commented on #75
Hi,

the *showStatistics* parameter is totally unrelated to the *warningTaskFilters*. Thus, removing it cannot have resolved the issue. I guess that you removed the parameter while at the same time removing the display names of the other build tasks as you mentioned in #76.

If you really experience issues when adding the *showStatistics* parameter back, please let us know so we can investigate.

[2020-02-11 21:11] Bouke commented on #74
For some use-cases it might be OK to have simple heuristics to determine whether a warning was triggered by the new build. So such a simple heuristic would do an exact comparison (diff) of the warnings, and assume all new errors to be newly introduced. This will cause false positives, that's for sure.

When comparing source code (e.g. through "git blame"), we shouldn't just ignore new warnings on

[2020-02-11 21:20] Bouke opened #77 "[BQC] Support for checking logs from specific task in multi-stage multi-job pipeline?"
I was wondering if BQC is able to handle warnings from a pipeline using multi-job / multi-stage, and how I would need to configure that?

I have the following pipeline:
[code]

What I want is for BQC to *only* apply to the job "AA", and only compare the warning count from previous builds of that same job "AA". Or even: the task Build" inside job "AA". Currently "Build" (AA) produces 3863 warnings

[2020-02-11 21:42] ReneSchumacher commented on #77
Hey,

we actually added code to handle this with version 6.2.x of the task. BQC task _should_ always compare warnings against the correct corresponding job from the previous build. Could you please run your build again with the variables _System.Debug_ and _BQC.LogRawData_ set to _true_ and send me the logs from the BQC task via email to PSGerExtSupport@microsoft.com? Also, could you send me the Y

[2020-02-12 09:05] Bouke commented on #77
After reviewing those debug logs, I've found the problem. So apparently the test build I was running was still at version 5, and the `warningTaskFilters` I specified was yet on a different branch. So it must've been the late hour getting me confused. With version 6 it is working as I expect it to be. Much thanks for your support.

[2020-02-12 09:05] #77 closed

[2020-02-12 22:34] tomas-dainovec commented on #37
Hi @ReneSchumache are there any updates on this issue? We are still observing it in our pipelines are there any actions we need to take?

[2020-02-12 23:16] ReneSchumacher commented on #37
Thank you for bumping this, @tomas-dainovec! Unfortunately, it has been pretty quiet around this even though I saw an update to our internal ticket that there should have been some fix. I just asked for an update from the Azure DevOps team and will post any new information here as soon as I get it.

René

[2020-02-24 18:49] ReneSchumacher commented on #76
We've fixed this in v6.4.0 of the task. Filtering is now done based on the display name and the internal task name, which should cover most of the common scenarios.

[2020-02-24 18:49] #76 closed

[2020-02-24 18:50] ReneSchumacher commented on #73
We have added this feature in v6.4.0 of the task which should be available in the marketplace in about an hour. I'm going to close this issue now but please feel free to provide any feedback and let us know if this meets your expectation.

Happy building,
René

[2020-02-24 18:50] #73 closed

[2020-02-24 20:34] mjvk opened #78 "Permissions"
With the new versions I got a message saying bqc now requires:

- Build (read)
- Test management (read)
- Code (read and write)
- Code (status)

Is this really required? Especially code read/write I’m not sure if that is possible to accept by the entire company.

[2020-02-24 20:57] ReneSchumacher commented on #78
Hey,

I fully understand your concern. Unfortunately, the two code scopes are needed to post pull request statuses and comments. Thus, the extension does not properly work without those permissions.

If you want to inspect the extension code, please send us an email to PsGerExtSupport@microsoft.com so we can send back a copy. We're already working on publishing the code on GitHub so you can do rev

[2020-02-24 22:48] ReneSchumacher commented on #78
I updated our change notes to make this change clearer.

[2020-02-25 07:37] mjvk commented on #78
Hmm and how are security risks for this? I am not worried about Microsoft stealing are stuff or something. The worry would be more about potential attackers/bugs. Especially the ability to write and delete source code might be a bit iffy. Metadata and such is less of an issue. Too bad there is not more granularity in the permissions.

[2020-02-25 07:47] Bouke commented on #73
Thank you, this seems to be working as expected.

I probably need `continueOnError: true` on that task now, as I only want the PR status and not to fail the build.

[2020-02-25 07:50] Bouke opened #79 "[BQC] Title of the PR status?"
I have setup two BQC tasks with different "Run Titles". The PR statuses are being posted, but the titles of those statuses are rather similar:

- Warnings policy passed with 4003 warning(s).
- Warnings policy passed with 200 warning(s).

Is there a way to customise these titles? Currently the only way to distinguish them in the UI is to hover the link, and it'll show the status' name.

[2020-02-25 09:45] ReneSchumacher commented on #78
You can manage the risk pretty well. There are two security contexts for a build task:
1. The context in which a task is executed.
2. The [build authorization scope](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/options?view=azure-devops#build-job-authorization-scope) that you configure in your pipeline definition.

The first is defined by the account running the agent service. If

[2020-02-25 09:54] ReneSchumacher commented on #79
We wanted to keep the status short since there's not much space to display information. If we add the status name (or just the run title) at the beginning of the status, you might not see the important information and would have to hover even more often. Thus, I believed the hovering option was good enough. In addition, clicking the status jumps to the BQC summary section with all the detailed inf

[2020-02-25 10:07] mjvk commented on #78
Wow great answer! Thank you, very clear and acceptable now.

[2020-02-25 10:07] #78 closed

[2020-02-25 10:10] ReneSchumacher commented on #78
Thanks! I'll keep the issue pinned and change the title a bit so that other people with security concerns can find it.

[2020-02-25 16:11] mjvk opened #80 "[BQC] Status passed when build times out"
When getting the coverage data times out (##[warning]Unable to get code coverage data within the maximum wait time.) the policy status is marked as OK. In my case the build is marked as failed so the PR is not able to complete but it still seems a bit weird?

The status reported is Code coverage policy passed with 0% (0/0 branches).

[2020-02-25 17:22] mjvk opened #81 "[BQC] multiple checks with status policies"
From the documentation I am not 100% clear on what happens if we have multiple checks. For example when I run a PR the following is checked:

- Code coverage
- Documentation coverage (similar to line coverage)
- Compiler warnings
- PC-lint warnings
- CppCheck warnings

Does the coverage policy status and warning status policy fail when any of these checks fail? Or does it pick the first one? I gue

[2020-02-25 18:27] ReneSchumacher commented on #80
Can you send me the full configuration of the task so I can check what's going on? The timeout is just a warning and the policy assumes zero coverage as a result. In most cases this should fail the policy but this actually depends on the compare value.

Policy result and PR status should always go together but I might have missed something.

[2020-02-25 18:38] ReneSchumacher commented on #81
Hi again,

I guess I should send out the docs to multiple colleagues to make sure it's clear. The important part is described in the policy documentation (e.g. https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/CodeCoveragePolicy.md#pull-request-status).

When you run multiple BQC tasks without explicitly setting their run title to something unique, all task in

[2020-02-26 09:37] mjvk commented on #81
Ah very clear missed that in the documentation, I was looking at the pull request tutorial. That piece of documentation is completely clear!

[2020-02-26 09:37] #81 closed

[2020-02-26 10:44] mjvk commented on #80
Maybe it is due to the uncovered branches part, having zero uncovered branches is of course very nice

[code]

[2020-02-28 14:29] ReneSchumacher commented on #80
Ah, that's it! I haven't thought about the timeout in case you're using uncovered elements. When using covered elements, zero coverage usually breaks the policy. That is why we don't really care about the timeout in that case. However, zero uncovered elements by default passes the policy. I'll change that so the policy fails if there's no coverage at all.

I'm still wondering why your build failed

[2020-02-28 15:32] ReneSchumacher commented on #80
We're in the process of releasing a fix for this. After lots of feedback about the additional security scopes and realizing that they don't affect our task at all, we came to the decision to remove all security scopes and re-release the task. I just put your fix into that release.

[2020-02-28 17:16] mjvk commented on #80
My build failing had nothing to do with bcq! Sorry about that, but that is why I noticed.

[2020-02-29 08:49] ReneSchumacher commented on #80
Thanks for clarifying that. I believe that this issue should be fixed then so I'm closing it now. If you still see unexpected behavior, please feel free to get back to us again!

[2020-02-29 08:49] #80 closed

[2020-03-04 10:42] gartenriese2 opened #82 "[BQC] Error with 6.4.3 ("Cannot read property 'length' of undefined")"
Hi,

after updating BQC from 6.4.2 to 6.4.3, we get an error in the task:

2020-03-04T10:05:27.6409738Z ==============================================================================
2020-03-04T10:05:27.6410354Z Task         : Build Quality Checks
2020-03-04T10:05:27.6410861Z Description  : Breaks a build based on quality metrics like number of warnings or code coverage.
2020-03-04T10:05:27.641133

[2020-03-04 13:38] pswetz opened #83 "##[error]Cannot read property 'referenceName' of null"
Getting this no matter what settings I use. Can anyone assist?

[2020-03-04 13:56] pswetz commented on #83
I have managed to avoid the issue now but a better error message that says what field is causing the issue would be helpful.

[2020-03-04 13:56] #83 closed

[2020-03-04 15:35] ReneSchumacher commented on #83
Hi @pswetz,

what task are you using and when does the error occur? We cannot add a more useful error message unless we know where the error comes from :)

Thanks
René

[2020-03-04 17:52] ReneSchumacher commented on #82
Can you tell me on what version of Team Foundation Server or Azure DevOps Server you're running? I assume this is on-prem since this issue can only be caused by the predefined variable System.CollectionUri being undefined. I was quite sure that this variable is available on-prem as well.

If you are indeed on-prem and still have the old VSIX file for v6.4.2 you can simply uninstall the extension a

[2020-03-05 10:35] ReneSchumacher commented on #82
Hi @gartenriese2,

we're just releasing v6.4.4 of the task which should fix your issue. Let me know if this helps in your case. Otherwise, please provide more detailed information about your environment.

Thanks,
René

[2020-03-06 08:00] gartenriese2 commented on #82
@ReneSchumacher

Sorry, somehow I did not get any notification from GitHub, otherwise I would have answered earlier. We are using an on-premise TFS 2017. With v6.4.4 eveything works as expected. Thank you very much for the quick fix!

[2020-03-06 08:00] #82 closed

[2020-03-13 23:18] JaimeHu opened #84 "Code coverage for separate jobs get mixed"
We have a pipeline that runs two jobs to build two separate projects in our repo. Each has their own unit test step and build quality step to check code coverage. Whichever job runs first is fine but the second job checks the code coverage for both jobs instead of just the current job. As far as I can tell the code coverage results are stored in the same location so whichever job finishes does a c

[2020-03-15 20:17] ReneSchumacher commented on #84
Hi @JaimeHu,

this behavior is a technical limitation of Azure DevOps. All code coverage data sets that are published to Azure DevOps are merged into a single aggregated coverage data set. Thus, the BQC task cannot distinguish between the data published by the first job and the data published by the second job.

If you're using VSTest for test execution and coverage calculation, there is a workaro

[2020-03-16 17:05] ReneSchumacher commented on #79
Since we haven't received any feedback on this, I'm closing this issue now. Pleae feel free to contact us again if you believe we need to change the existing functionality.

[2020-03-16 17:05] #79 closed

[2020-03-16 18:17] Seral-Posen commented on #84
@ReneSchumacher thank you for the quick response and suggestion! I really appreciate it. :-)

[2020-03-16 18:20] JaimeHu commented on #84
@ReneSchumacher thank you for the quick response and suggestion. I really appreciate it! :-)

[2020-03-24 13:16] ReneSchumacher commented on #84
I'm closing this issue for now and hope that you were able to solve it based on my description. If not, please feel free to post additional comments or contact us via email.

Happy building,
René

[2020-03-24 13:16] #84 closed

[2020-03-24 13:41] VerdonTrigance opened #85 "Extensions is not available"
Hi guys, I just installed your extension "Create Work Item", but it is not available for any opertaions:
![image](https://user-images.githubusercontent.com/12109173/77431635-044caf80-6dee-11ea-9339-d58466e9ddf2.png)

I already done:
1. Reopen release pipeline.

Help me figure out how to use it please.

[2020-03-24 13:44] woehrl01 commented on #85
Hi @VerdonTrigance ,

please try a full logout/login circle for Azure Devops. This should mitigate your issue.

Best
Lukas

[2020-03-26 07:36] VerdonTrigance commented on #85
Still same. It's not available. Same picture.

[2020-03-26 10:17] ReneSchumacher commented on #85
Hi @VerdonTrigance,

can you tell me where you installed the extension? I assume you installed in an Azure DevOps organization, right? Did you install additional extensions from us (Build Quality Checks, Post Build Cleanup)?

If you installed on Azure DevOps, could you please open the following URL in your browser and send us the resulting JSON via email to PSGerExtSupport@microsoft.com:

https://

[2020-04-01 07:47] VerdonTrigance commented on #85
I'm not sure what is {organization} is. Is it 'something' from https://something.visualstudio.com ?

[2020-04-01 10:17] ReneSchumacher commented on #85
Hey,

sorry for not being more precise and yes, the organization is the name of your Azure DevOps Services "account". Depending on your org settings this is ether https://{organization}.visualstudio.com or https://dev.azure.com/{organization}.

[2020-04-01 10:19] VerdonTrigance commented on #85
Response is:
`{"$id":"1","innerException":null,"message":"TF1590003: No app with id mspremier.BuildQualityChecks is installed in this organization.","typeName":"Microsoft.VisualStudio.Services.ExtensionManagement.WebApi.InstalledExtensionNotFoundException, Microsoft.VisualStudio.Services.ExtensionManagement.WebApi","typeKey":"InstalledExtensionNotFoundException","errorCode":0,"eventId":3000}`

[2020-04-01 10:24] ReneSchumacher commented on #85
Oh, sorry, I copied the wrong extension name (however, that answers the question if you have installed the BQC task as well). Please replace the name BuildQualityChecks with CreateWorkItem.

[2020-04-01 10:46] VerdonTrigance commented on #85
`{"extensionId":"CreateWorkItem","extensionName":"Create Work Item","publisherId":"mspremier","publisherName":"Microsoft Premier Services","version":"1.5.5","registrationId":"0e2d0cb3-ab15-48c2-a41e-736c9c86ad2c","manifestVersion":1.0,"baseUri":"https://mspremier.gallerycdn.vsassets.io/extensions/mspremier/createworkitem/1.5.5/1578919628636","fallbackBaseUri":"https://mspremier.gallery.vsassets.io

[2020-04-01 11:02] ReneSchumacher commented on #85
Thanks for the result. This looks all good so the extension should be installed correctly. Are you still unable to select the task from the task list? If so, could you try uninstalling and reinstalling the extension? We had similar problems in the past and they were related to a slow backend process in Azure DevOps Services. However, tasks showed up properly after about 15 to 20 minutes.

If the t

[2020-04-01 14:50] VerdonTrigance commented on #85
Problem is still there. I wrote a message. Please check.

[2020-04-09 20:14] dwilsonbst commented on #51
Currently have this same issue. Using dotnet test with coverlet. Produces a code coverage report. Lines are identified fine, but there are 0 branches in code so 0/0 fails. Snippets of log from same build:
Line Coverage:
Validating code coverage policy...
Waiting for code coverage data...
Waiting for code coverage data...
Waiting for code coverage data...
Waiting for code coverage data...
Successfu

[2020-04-09 20:54] ASH-Anthony commented on #51
Getting a similar issue as @dwilsonbst if there are no unit tests (we have UI tests in our suite as well).

[code]

This is a UI only (JS) component so, there aren't any functions to test. When I add a dummy function and unit test, this works. We have a common task group for our components, which is why this is running with 0 unit tests

[2020-04-12 07:44] ReneSchumacher commented on #51
@dwilsonbst Are you sure that coverlet is correctly creating branch coverage? You can check by opening the following URL in your browser: https://dev.azure.com/{organization}/{project]/_apis/test/codecoverage?buildId={buildId}

Simply replace organization, project, and buildId with your values (just use the ID of the build that reported zero branch coverage). The result should look like this:

{"c

[2020-04-12 07:51] ReneSchumacher commented on #51
@ASH-Anthony Whenever you put the BQC task into a build it assumes that there should be code coverage. Thus, if you use it in a build that doesn't create coverage data, it will always assume zero coverage. Unless you specify a minimum coverage threshold, though, this shouldn't be a problem. However, it might slow down your build.

According to your log it seems that the task has been canceled by t

[2020-04-12 14:51] Jittery opened #86 "Build Quality Check :: using a variable baseline/repository"
Is it possible to use something like $(ProjectName) as the build definition / repository?

i.e. is it possible to supply _baseDefinitionId_, _baseRepoId_ based on a task group variable

[2020-04-13 12:56] dwilsonbst commented on #51
@ReneSchumacher I think that is the problem I'm trying to convey. Code coverage was generated 100% ok. The code itself does not have any branches. However we want branch code coverage. The idea being that we want the build set up so that should anyone intrude a code branch then it the step would automatically be there and not require build changes to account for that.

Result of a build without a

[2020-04-13 19:23] ASH-Anthony commented on #51
@ReneSchumacher yes, we have a 1 minute timeout and there is a coverage report uploaded. The issue is when there are 0 lines to cover. If I add a dummy function (again, the component only renders HTML), it passes.

With error:
[code]

After adding dummy function
[code]

Adding the dummy function and a unit test for it is the only difference between this failing and working

[2020-04-14 11:47] ReneSchumacher commented on #51
@dwilsonbst Can you tell me which version of the BQC task you are using and how you configured it? I do understand your goal. Yet, I'm not sure if I understand your expectations.

Let's assume you add a BQC task to you pipeline, configure it to look for branch coverage, and set it up to fail based on the previous build. In other words, the task looks for branch coverage, doesn't find any, and simp

[2020-04-14 19:51] ASH-Anthony commented on #51
Thanks for your answer. Unfortunately, changing the timeout up to 4 minutes still did not work. We may just have to create a separate task group for UI components like this, unless there are exposed variables in the coverage report (e.g., `gt([totalBranches], 0)`)

![image](https://user-images.githubusercontent.com/21087798/79267750-84df5880-7e4e-11ea-9044-eae9fb38abc3.png)

[2020-04-15 16:12] yowl opened #87 "Coverage has gone down but quality check still passes"
History:
Was running ok in DevOps hosted agent, have moved the agent to an Azure VM and now build succeeds even when coverage goes down.  (Could be coincidence or I've screwed something up)

From the log file:
[code]
So you can see the coverage has gone down from 44.3963 to 44.2855.  The build is configured in the GUI in devops, not in yaml, where it looks like:

![image](https://user-images.githu

[2020-04-15 16:18] yowl commented on #87
Hmm, maybe I changed it to absolute from percentage by accident

[2020-04-15 16:18] #87 closed

[2020-04-15 18:47] ReneSchumacher commented on #86
Hey,

I've never really tested this but I believe variables should be replaced by the agent automatically. Thus, if you know the correct values, it should be possible. I'll try to set this up in a test environment tomorrow and let you know.

[2020-04-16 13:08] dwilsonbst commented on #51
@ReneSchumacher, I'm using version 5 it seems.

I understand the problem that arises from just letting it pass when there are 0/0 of a coverage line. I guess what i'm looking for is more of a warning that there is no branch coverage vs an error failing the build. My thought process is the fact that I have code coverage (line), it should/could be able to realize that code coverage was in fact gener

[2020-04-16 14:05] ReneSchumacher commented on #51
@dwilsonbst Thanks for the feedback. In fact, the task can distinguish between cases where there's no coverage data at all and cases where coverage data has been read but there is no coverage of the requested type. In the first case you'd see a warning that coverage data could not be read within the timeout.

In both cases, though, we decided to let the policy continue the evaluation and just assu

[2020-04-16 14:11] dwilsonbst commented on #51
@ReneSchumacher, that is exactly the situation. We expect 80% line and 80% branch coverage. So the build fails on 0/0 = 0%. An option to treat 0/0 as 100% would be perfect for this use case I think.

[2020-04-16 14:18] woehrl01 commented on #51
@ReneSchumacher I agree treating 0/0 as 100% is a good fit in that case.

[2020-04-16 14:27] ReneSchumacher commented on #51
Alright, will do. I just added this to our backlog. It might take a couple days for us to add this as we're also in the progress of adding arbitrary file warning analysis based on previous build. I'll let you know when the feature has been added.

[2020-04-16 14:56] ReneSchumacher commented on #86
Hi again,

I just tested this and can confirm that it works. You just have to make sure that you're using the correct values. The task needs the build definition ID, the repository ID, and the branch ref, even though the UI editor shows the definition name and repository name.

Let me know if it works for you.

René

[2020-04-16 15:44] dwilsonbst commented on #51
Wonderful thanks!

[2020-04-16 17:18] jrperron88 opened #88 "No PR status posted"
I'm trying to implement this in my build YAML.

ADO hosted agent is pulling 6.3.0, i'm not sure if this was supported before 6.4.0 but I think it was. I can't find any status in my branch policies that this has posted.

YAML:

     - task: mspremier.BuildQualityChecks.QualityChecks-task.BuildQualityChecks@6
        displayName: 'Check build quality'
        inputs:
          showStatistics: true

[2020-04-16 18:23] ReneSchumacher commented on #88
Hi @jrperron88,

PR status policies were introduced in v6.4.1 (see https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/changeNotes.md#641). Please update the extension. The update should need approval as we changed the security scopes of the extension. We now don't require any security scope, but even this change needs to be approved by one of your AzDO org admi

[2020-04-16 18:26] jrperron88 commented on #88
Thanks @ReneSchumacher ! Since we are using a unbuntu Azure hosted agent, how would I update the extensions? The YAML is automatically pulling down 6.3.0, and I don't think there is a way to give it anything other than a major version number

[2020-04-16 18:32] ReneSchumacher commented on #88
You need to go to extensions inside your organization settings (https://dev.azure.com/{organization}/_settings/extensions). At the top you should see an entry for the Build Quality Checks extension marked as "needs your attention". Just click on it and approve the update. Once that is done, v6.4.4 should be automatically installed into your organization. After that, the agents will start pulling v

[2020-04-16 19:38] jrperron88 commented on #88
@ReneSchumacher That was it, and it is now working perfectly. Thank you!

[2020-04-16 19:38] #88 closed

[2020-04-16 20:59] jrperron88 opened #89 "UpperThreshold not taken into account if increase in coverage"
What i'm trying to accomplish: Error if total coverage is below 90% or code coverage has decreased (even if over 90%). I had accomplished this with two seperate checks - one for fixed total coverage percent, and one for increase in coverage. From the documentation it appears that I should be able to add coverageUpperThreshold to achieve this. But it seems to only care about the coverage increasing

[2020-04-16 21:52] ReneSchumacher commented on #89
Hi @jrperron88,

unfortunately this cannot be done with a single instance of the BQC task. If you need to fail the policy if coverage decreases, you have to compare it with the previous build. However, this setting does take a minimum threshold into account.

The only way to achieve your goal is by using two BQC tasks. The first should check the minimum threshold of 90% while the second should com

[2020-04-16 21:56] jrperron88 commented on #89
Can you elaborate on the use case? From my perspective, the code doesn't meet the minimum threshold so it should error. Just trying to understand how it actually works.

I will put in the two tasks to achieve this, just want to understand what the threshold controls

[2020-04-17 08:46] ReneSchumacher commented on #89
This was a deliberate decision. Each policy in the BQC task has two different modes. You choose the mode by setting the *failOption parameter (e.g., https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/CodeCoveragePolicy.md#user-content-failoption).

In _fixed_ mode the policy compares values with a fixed threshold, which was what people initially asked for. _Fix

[2020-04-17 09:38] ReneSchumacher commented on #85
Hi @VerdonTrigance,

I just checked the internal ticket for your issue and realized that is was resolved. Since the issue seems to be gone, I'm closing it now. If you need anything else, feel free to add additional comments or open a new issue.

Thanks and happy building!
René

[2020-04-17 09:38] #85 closed

[2020-04-17 09:44] VerdonTrigance commented on #85
Yes, thank you for helping. I thought it was agentless task, but it should run at some of them.

[2020-04-17 13:57] jrperron88 commented on #89
Okay, I got it, your last paragraph explains what it is used for. Thank you for your help!

[2020-04-17 13:57] #89 closed

[2020-04-18 17:57] davidsekar opened #90 "Build quality check is unable to find the code coverage metric data when it's is a Pull Request"
When a build is triggered by a Create Pull request (I.e., for branch policy validation), BQC task is unable to fetch the **previous** code coverage metric. It shows following in the logs and the build passes.

[WARNING] The baseline build could not be found. All policies based on the previous build will pass.
##[warning]The baseline build could not be found. All policies based on the previous buil

[2020-04-18 23:47] ReneSchumacher commented on #90
Hi @davidsekar,

you have to correctly configure the baseline for the task as described at https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/overview.md#task-parameters and https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/PullRequests.md. Currently, the task does not automatically pick up code coverage from the PR target

[2020-04-28 10:15] seylas opened #91 "Create Work Item fails if build trigger is PR"
I'm getting an issue with creating a New Work Item for my builds if the pipeline was triggered by Pull Request. It fails with the next error:

[code]
However, the same build is passing fine and creates a new item correctly if I trigger it manually with the same configuration.

Detailed build log:
[code]

[2020-04-28 11:24] ReneSchumacher commented on #91
Hi @seylas,

can you post the configuration of your task? I inspected the code and your log and it seems that the task fails VERY early when it tries to read all fields for the selected work item type. As long as the work item type you configured exists, this should never be the case. However, we don't handle the case of using an invalid work item type correctly (I'll fix that).

Are you sure that

[2020-04-28 11:36] seylas commented on #91
Thanks for reply @ReneSchumacher

Yes, I'm pretty sure
Please find a task configuration below:
[code]
Also, this configuration is working fine once I trigger the same build manually:
[code]

[2020-04-29 06:17] ReneSchumacher commented on #91
Hm, the configuration looks good and it doesn't make much sense that the same config is working in one situation but not in the other. Are you executing both builds on the same agent or agent type (i.e., private or hosted)?

I'll have to dig into this later today. As soon as I have more to share, I'm getting back to you.

[2020-04-29 07:38] seylas commented on #91
Thanks for digging into it
both builds were executed on Microsoft-hosted agents
[code]
Please let me know if I can provide any other details that would be helpful for you.

[2020-04-29 15:39] ReneSchumacher commented on #91
Hi again!

I just prepared a hopefully repro for your issue. My YAML pipeline looks like this:
[code]

That is very much simplified but it should come close to your scenario while providing a simple way to trigger the task condition. Unfortunately, this pipeline works fine no matter if I run it through a branch policy in a PR or manually. This matched my expectation as it shouldn't make any differ

[2020-04-29 22:17] ReneSchumacher commented on #90
Hi again,

since I haven't received any further feedback, I assume that you have been able to solve your issue. Closing this for now. If you need additional assistance, please feel free to add another comment or open a new issue.

Happy building,
René

[2020-04-29 22:17] #90 closed

[2020-04-29 22:17] #86 closed

[2020-04-30 08:44] seylas commented on #91
Hi René!
Thanks again for your efforts, my pipeline is almost the same:
[code]
As a trigger, I'm using a GitHub webhook.

In my flow, I've created a PR from the FORKed repository to the original. In this case, I was able to reproduce this issue in 100% cases.
I've also tried to create the same PR in the original repository from branch, and everything works fine for any scenario.
I've also tried to

[2020-04-30 08:56] ReneSchumacher commented on #91
Hm, just to be sure because you mentioned GitHub:
- Is your code in Azure Repos or in GitHub?
- Did you fork within Azure DevOps or in GitHub?

My repro so far has been fully in Azure DevOps and GitHub might change the situation.

If you're uncomfortable sharing some of the information here, you can also send me an email to PSGerExtSupport@microsoft.com so we can take this offline. I'll report bac

[2020-04-30 09:03] seylas commented on #91
Sorry, I didn't mention this.
As a source code repository, I'm using a GitHub Enterprise.
I'll share webhook payloads for both scenarios by email shortly, they might be useful for the investigation.

[2020-04-30 09:32] ReneSchumacher commented on #91
Thanks for clarifying. I now have a repro! 👍

Even though I still don't understand why the task fails. At least I can start debugging this now.

[2020-04-30 12:52] ReneSchumacher commented on #91
Quick update: It currently looks like the task loses access to Azure DevOps when it is triggered from a GitHub PR. I'm working with the Azure DevOps teams to figure out what exactly is going on and how to fix it.

[2020-04-30 13:42] seylas commented on #91
Thanks a lot for the update
I've opened a support case regarding this issue for Azure DevOps team 120042822002281
Feel free to refer or link my case

[2020-05-02 10:53] ReneSchumacher commented on #91
Hi again,

I received feedback from team responsible for pipelines. The behavior is by design because the security context for PR builds from forked repos is **very** limited. Thus, it doesn't have access to the work item definition and wouldn't have permissions to create or update work items as well.

If you think about it, it really makes sense. Since forks are basically not very secure (anyone

[2020-05-03 18:20] marcopierobon opened #92 "Issue with DLL loading when using runsettings"
I'm trying to specify a runsettings file from VS to add some coverage rules.

Since I added it, one of the tests started to fail.

The test uses reflection to load a dependent assembly and enforce some validation on its classes.

    String FluentMigratorFullName = "MyAssembly, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null";
    var fluentMigratorAssemblyName = new AssemblyName(FluentMigra

[2020-05-03 19:12] ReneSchumacher commented on #92
Hi,

I'm not sure why the option to run tests in parallel should influence assembly resolution. Neither do I understand, why this option would prevent the build from accessing the test results or coverage report. I will check a couple things tomorrow and talk to the testing tools team if necessary.

In the meantime you could try to activate the fusion log on your build agent (assuming you can run

[2020-05-04 08:42] ReneSchumacher commented on #91
I updated the extension as described above as we cannot change the security scope. If you really need to have this functionality, we could probably add a special option that lets you configure a personal access token for authentication. You would have to put this into a secret variable in Azure DevOps to protect it. I'm not sure if this would work under all circumstances, but it might be a solutio

[2020-05-04 09:29] ReneSchumacher commented on #51
Hey @dwilsonbst,

we just finished work on the new version 6.5.0 that now has the requested option. I'll be doing some final testing and if all goes well the new version should be published in a couple minutes.

[2020-05-04 09:49] seylas commented on #91
Thanks for update
I've noticed your changes. I'm getting a warning instead of a failed build, thanks:
[code]
I don't see any security risks with using forks in private GitHub Enterprise repository, but yes, for a public GitHub repository, it's a valid concern.

I would appreciate having the possibility to pass a private token for this job to overcome my case if it's not a complicated task for you.

[2020-05-04 10:09] ReneSchumacher commented on #91
Thanks for the feedback. This should be a quick addition to the task since security is set up only once. I'll try to squeeze this in today as I'm busy for the rest of the week.

[2020-05-04 11:48] IvanAlekseev opened #93 "Check code coverage for branches fails where it shouldn't"
After updating packages from coverlet.collector 1.2.0 to 1.2.1 I receive the following error:
[code]

My task setup:
[code]

In my understanding 93.8356% is definitely higher than 92.8571% 😉
I guess the task tries to compare the number of branches covered, not the percentage.
Can it be fixed?

[2020-05-04 11:56] ReneSchumacher commented on #93
Hey,

you didn't configure the coverage delta type to it uses absolute values by default (see https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/CodeCoveragePolicy.md#user-content-coveragedeltatype). Just add `coverageDeltaType: 'percentage'` to the inputs and it'll work.

I guess I'll put a new item on the backlog to put the delta type into the message as well

[2020-05-04 12:12] IvanAlekseev commented on #93
@ReneSchumacher it works with updated settings. Thank you for so quick reply. Having percentages by default will certainly be a better option
[code]

[2020-05-04 14:45] dwilsonbst commented on #51
@ReneSchumacher, awesome! I look forward to having the option, Should the version require any update on our end (extension updates/install), or just automatic?

[2020-05-04 17:26] ReneSchumacher commented on #51
It will require you to update the task version. We had to add a couple more changes and introduced one breaking change (we changed the default coverage delta type from absolute to percentage, because that is what most customers use). Thus, the new version will be 7.0.0. If you're using YAML, you need to change from `BuildQualityChecks@6` to `BuildQualityChecks@7`. In the UI you need to update the

[2020-05-04 17:28] ReneSchumacher commented on #93
Got it. We're in the process of releasing a new version and this will be v7.0.0 and have the new default. Since this is a breaking change, you'll have to update the task version in your YAML file to benefit from the new default value.

[2020-05-04 17:28] #93 closed

[2020-05-06 17:27] ReneSchumacher commented on #91
Hi @seylas,

I just release v1.7.0 of the task that supports using a PAT for authentication to Azure DevOps. I confirmed through my tests that this also works properly for forked repos, but you have to set the security in the pipeline correctly. Please look at the task docs for more information. If you encounter any issues with the new version, please let me know.

Happy building,
René

[2020-05-06 17:27] #91 closed

[2020-05-08 08:40] seylas commented on #91
Hi @ReneSchumacher

Yep, everything works fine so far for me. Thank you very much for your help and a new feature!

Thanks & Regards,
Andriy

[2020-05-18 07:43] simoncho opened #94 "How to add Artifact link for the created ticket itself?"
Create work item is working fine.

However, I'm trying to add Artifact link for the created work item itself.

![image](https://user-images.githubusercontent.com/8030227/82186363-9679ad00-989f-11ea-91a9-70e52343b8df.png)

There is no route to add.
It always error out with the below error messages.

2020-05-18T07:38:17.7959268Z There was an error while linking the work items.
2020-05-18T07:38:17.79

[2020-05-18 10:11] ReneSchumacher commented on #94
Hi @simoncho,

if I understand your request correctly you just want to link the created work item to the pipeline run in which it was created, right? There is an option for this in the task itself (see https://github.com/MicrosoftPremier/VstsExtensions/blob/master/CreateWorkItem/en-US/overview.md#user-content-associate).

Artifact links have a very special syntax and it is not possible to specify

[2020-05-18 16:38] simoncho commented on #94
I'm trying to do while "release" not in Build. So, that specific option ignored because of the below condition.

"This option only takes effect when the task is running as part of a build; it is ignored when running inside a release."

[2020-05-18 19:33] ReneSchumacher commented on #94
Ah, I see. I'll check if we can quickly extend that option to work for release pipelines as well.

[2020-05-18 20:11] simoncho commented on #94
Perfect. Thank you for the considering.

[2020-05-23 12:26] ReneSchumacher commented on #94
Hey @simoncho,

I just released v1.8.0 of the extension that also allows linking to release environments so I'll close this issue now. If you have any trouble using the updated version, just let us know.

Happy building,
René

[2020-05-23 12:26] #94 closed

[2020-05-23 14:42] gerwinjansen commented on #31
Coming back to the original problem of pull requests:
I'm having a master branch and maintenance branches for older versions. All of them are protected, so require a PR to accept changes.

I end up changing the azure-pipelines.yml every time I create a new protected branch and set the baseBranchRef.

What if the default behavior (when empty) is:
1. Check if variable [System.PullRequest.TargetBranc

[2020-05-25 08:42] ReneSchumacher commented on #31
Hey @gerwinjansen,

thanks for bringing this up again. This request still sits on our backlog because we couldn't come up with a solution that works for all cases. No. 1 and 2 in your list work perfectly fine (no. 2 is the current behavior and no. 1 would be a quick addition). However, no. 3 won't work.

Even though many people think in parent and child branches, there is nothing like that in Git.

[2020-05-25 14:00] ReneSchumacher commented on #31
Closing this issue again. We have just release v7.1.0 of the extension which has the requested behavior.

[2020-05-25 14:00] #31 closed

[2020-05-26 10:03] gerwinjansen commented on #40
I have the same issue. My expectation is:
1. BuildQualityChecks takes the stdout and stderr from the previous steps (up to the first one or the preceding BuildQualityChecks)
1. It looks for [task.logissue](https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/authoring/commands.md) lines.
1. It parses all these lines and collects the warnings and errors.

The lines contain the contex

[2020-05-26 10:30] ReneSchumacher commented on #40
Hi @gerwinjansen,

Build Quality Checks is not designed to display warnings created by other tasks. It's purpose is to simply count warnings and compare the current count with defined thresholds (either fixed value or the warning count from a previous build) to decide whether or not to break the build.

Every issues (warnings and errors) that is correctly logged by a task with the logging command

[2020-05-26 10:33] seylas opened #95 "Access issue for CreateWorkItem builds from fork"
I'm trying to create a new work item for a failed build from the fork and it fails with the error below:

`##[error]TF400813: The user '' is not authorized to access this resource.`

The same build with the same configuration and PAT token was working fine several weeks ago. Please find task configuration below:

[code]
No changes in project configuration were executed, I am able to reproduce this

[2020-05-26 10:56] ReneSchumacher commented on #95
Hey,

thanks for reporting this. I'll check my test environment and see if I can reproduce the issue.

[2020-05-26 11:27] ReneSchumacher commented on #95
Hi again,

I cannot reproduce the issue in my environment. Here are a couple things you should check:

1. Make sure that the PAT hasn't expired or been revoked by someone. The task cannot automatically extend/refresh the PAT.
2. Is the PAT directly injected in the YAML file? If so, make sure no one changed the value.
3. Is the PAT stored in a secret variable? If so, please check if the settings to

[2020-05-26 12:52] seylas commented on #95
Hi
Thanks for a quick reply

PAT is not expired, checked.
I've also checked a configuration for a project, everything looks fine.  Secrets are available for a fork.
PAT is used as a secret file in my pipeline. I've tried to inject PAT directly in the YAML file, and everything works fine. I can assume that a pipeline doesn't have access to a secret file; however, it's really weird for me.

[2020-05-26 14:40] ReneSchumacher commented on #95
Hm, that's weird indeed. I would recommend reporting this issue through Azure DevOps' feedback channel. Perhaps there is a temporary issue or something specific to your pipeline or organisation?

[2020-05-27 09:12] seylas commented on #95
Thanks, @ReneSchumacher for your help!

I managed to resolve this issue by using a secret variable with PAT instead of a secret file. I'll continue the investigation, but for me, it looks like the issue is on the Azure side or in the project configuration.

Thanks & Regards,
Andriy

[2020-05-27 09:12] #95 closed

[2020-05-27 17:43] sdg002 opened #96 "BQC - Waits indefinitely with the recurring message "Waiting for code coverage data...""
## Snapshot of from the log

{"id":"5083","url":"https://dev.azure.com/CorResilience/_apis/build/Builds/5083"},"deltaBuild":null}
2020-05-27T17:40:31.8975676Z ##[debug]------------------ END RAW DATA ------------------
2020-05-27T17:40:31.8975885Z Waiting for code coverage data...
2020-05-27T17:40:34.2431324Z ##[debug]-------------------- RAW DATA --------------------
2020-05-27T17:40:34.2432371Z

[2020-05-27 17:54] ReneSchumacher commented on #96
Hi @sdg002,

did you publish code coverage data in your pipeline? How are you creating the coverage data? Are you using the Visual Studio Test task or another task?

René

[2020-05-27 18:29] sdg002 commented on #96
Hi @ReneSchumacher
Thanks for the quick response.
We are using MSTEST. Here is a snapshot from our YML.

[code]

[2020-05-27 18:29] sdg002 commented on #96
Screen capture
![image](https://user-images.githubusercontent.com/20245330/83058546-717bfb80-a050-11ea-9c70-845d426b3897.png)

[2020-05-27 19:58] ReneSchumacher commented on #96
Can you make sure that you see code coverage values in the build summary? And/or could you post the log of the PublishCodeCoverageResult task?

[2020-05-27 21:13] sdg002 commented on #96
[8_Publish code coverage results.zip](https://github.com/MicrosoftPremier/VstsExtensions/files/4691868/8_Publish.code.coverage.results.zip)

The log from the PublishCodeCoverageResult  attached.

Please, could you guide me as to how I can access the actual code coverage results from this step?

Thank you.

[2020-05-27 21:15] sdg002 commented on #96
[Cobertura.zip](https://github.com/MicrosoftPremier/VstsExtensions/files/4691893/Cobertura.zip)
The code coverage file attached. Nearly empty!

[2020-05-27 21:17] sdg002 commented on #96
[Code Coverage Report_5086.zip](https://github.com/MicrosoftPremier/VstsExtensions/files/4691901/Code.Coverage.Report_5086.zip)
The complete ZIP from Azure Devops. Empty!

[2020-05-27 21:28] sdg002 commented on #96
Looks like there is a problem with the generation of the Code Coverage report.

This is from the **Run Unit Tests** log file

[code]

[2020-05-27 21:34] sdg002 commented on #96
Problem solved.
Updated NUGET reference and code coverage information was generated correctly.
<PackageReference Include="coverlet.msbuild" Version="2.8.1">

Thank you.

[2020-05-28 16:03] ReneSchumacher commented on #96
Great that you could resolve the issue and thanks for letting us know. I'm closing the issue now but please feel free to open a new one if you run into any other problems with t he task.

[2020-05-28 16:03] #96 closed

[2020-05-29 01:51] rajanimail1 opened #97 "CoverageVariance for coverageType: Branch is throwing warnings instead of build break."
Hello,

I am trying to fail the Build if coverageVariance for Lines and Branches is above variance value.
This works fine when coverageType is Lines and not Branches.

Version      : 7.1.0
Lines Coverage
----------------
Successfully read code coverage data from build.
Evaluating coverage data from 1 filtered code coverage data sets...
Total lines: 10953
Covered lines: 8985
Code Coverage (%): 82.0

[2020-05-29 07:00] ReneSchumacher commented on #97
Hi,

this looks like a simple configuration mistake. Each policy in BQC can run in one of two modes: fixed threshold or previous value.

If you want to ensure a certain policy value (i.e., a maximum number of warnings or a minimum value for code coverage), you use the fixed threshold mode and set the threshold to the specific value. I can see from the logs that you have configured two instances of

[2020-05-29 07:00] #97 closed

[2020-06-02 13:53] bdn-mca opened #98 "dotnet core build task warnings not caught"
We are using "dotnet core build" step with fxcop analyzers for code analysis. Since we introduced the fxcop analyzers at a later stage, we had around 1000 warnings suppressed in a global suppression file, and agreed to have 0 warnings from this point on.

In the CI, "Check build quality" always reports 0 warnings, even if the dotnet build step beforehand reports a warning.
Warning threshold is set

[2020-06-02 16:26] woehrl01 commented on #98
Hi!

This probably sounds like a configuration related issue. Could you please send us the log of the specific build to psgerextsupport@microsoft.com, so we can have a deeper look into the applied configuration?

Best

[2020-06-04 11:35] bdn-mca commented on #98
The issue is with the dotnet build task - it does not report the warnings in the build summary, and "Check build quality" cannot catch any warnings.
It will be like this until an update is applied, as per [this](https://github.com/Microsoft/azure-pipelines-tasks/issues/7749#issuecomment-598897092) comment.

As a workaround, adding "Warning Filters (Tasks)" in the "Check build quality" task fails t

[2020-06-04 11:35] #98 closed

[2020-06-05 12:58] ReneSchumacher commented on #40
Hi @mdwhitten,

first, I have to apologize that it took us so long to work on your feedback. It was sitting on our backlog but there was always something else to do. Good news is that we were able to create a generic solution now that works for all tasks or scripts that use our logging commands similar to what you do in your PowerShell script. Your files should now properly show up in the statisti

[2020-06-05 12:58] #40 closed

[2020-06-08 13:21] mdwhitten commented on #40
That's great! Thank you for getting back to me and for creating the generic solution. I will happily use this in my pipelines now.

[2020-06-16 11:11] hisuwh opened #99 "Code Quality reporting coverage decrease erroneously"
The Code quality check is reporting a branch coverage decrease from 32.2288% (4260 branches) to 29.9064% (3034).

However, this is after I have ran a build with `BQC.ForceNewBaseline=true` which passed with a code coverage output of 29.8% (3032).

So where is it getting this 32.2288% from and how do I make it work correctly?

[2020-06-16 11:45] ReneSchumacher commented on #99
Hi Henry,

without more log information I cannot be sure where the task got the wrong coverage value from. Did the build you ran with BQC.ForceNewBaseline=true succeed? If so, can you send me the log file for that build and the one that incorrectly failed with the coverage decrease to PSGerExtSupport@Microsoft.com? I'll take a look at the logs and get back to you with more information.

René

[2020-06-19 20:29] soutchilin commented on #51
Currently I have the same "Waiting for code coverage data..." for Azure hosted pipeline, VSTest@2 and BuildQualityChecks@7. The code coverage file is created. Please see this output from VSTest@2 task.
Results File: d:\a\_temp\TestResults\VssAdministrator_fv-az674_2020-06-19_20_20_09.trx
Attachments:
  d:\a\_temp\TestResults\aa5e765f-4bc1-49ec-9fb4-f5809564f8f1\VssAdministrator_fv-az674 2020-06-19

[2020-06-23 07:58] gerwinjansen opened #100 "Filewarnings without baseline results in zero warnings instead of skipping"
... so the build fails because the current build has more warnings than the previous (erroneous) zero.

### Steps to reproduce
1. Have a master branch with a C# project with 1 compiler warning, and a file with 1 warning.
1. Configure BQC as this (change the regex according to your own file):

[code]
1. Run a build on master, use BQC.ForceNewBaseline=true as needed
1. Create a new branch from maste

[2020-06-24 07:39] rajanimail1 opened #101 "Setting baseBranchRef: $(System.PullRequest.TargetBranch) from second run is not working as expected."
Hello team,

As per the documentation https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/PullRequests.md, I would like to set base policy evaluation on pull request target branch.
I set this as baseBranchRef: $(System.PullRequest.TargetBranch)
In my case it will be 'refs/heads/master'.

IndividualCI (BuildID: 193342)

For the first PR(BuildID: 193372) here is t

[2020-06-24 11:30] frankieyan opened #102 "Build Quality Checks: usage with pull requests from GitHub instead of Azure Repos"
Hi there! I'm trying to set up Build Quality Checks with our project using Azure Pipelines + GitHub, but I'm a little lost when setting up the base branch to compare code coverage against.

For the two Build Service users, we only seem to see permissions around builds, ie. "Update build information", rather than git related permissions like "Contribute to pull requests". Is this due to not having

[2020-06-24 11:43] frankieyan commented on #102
Attaching the configs just in case there's anything obvious missing:

[code]

[2020-06-24 13:25] ReneSchumacher commented on #100
Hi Gerwin,

thanks for reporting this. This is indeed a bug in the task. We'll fix that with the next version (most probably this week).

Thanks,
René

[2020-06-24 14:13] ReneSchumacher commented on #101
Hi @rajanimail1,

could you run the build again with the variable System.Debug set to true and send the log of the Build Quality Checks task to PSGerExtSupport@microsoft.com? I would like to take closer look at the variables in your build. The behavior you describe looks as if the variable $(System.PullRequest.TargetBranch) isn't set correctly or at least not the way we expect it. Do you have your

[2020-06-24 14:20] ReneSchumacher commented on #102
Hi Frankie,

the task also works with GitHub repos but it is not able to post any policy status or pull request comments to the GitHub pull request. This is only available with Azure Repos. However, it should still be able to break your build based on coverage values or warnings.

What exactly do you want to check with the policy? Or what isn't working to your expectations?

René

[2020-06-25 03:19] frankieyan commented on #102
Hi René,

I'm trying to fail the build when a pull request lowers the coverage compared the target branch. Even though I've specified `$(System.PullRequest.TargetBranch)` in my `baseBranchRef`, I was still seeing baseline build ID's for previous builds of the same branch. I've also tried setting the branch name directly with no luck. Since there were errors about insufficient permissions I assumed

[2020-06-25 11:47] ReneSchumacher commented on #99
Hi @hisuwh,

we haven't received any additional information from you. Did you resolve the issue yourself or do you still need assistance?

René

[2020-06-25 11:50] ReneSchumacher commented on #102
Hi again,

I realized that this is a bug in the task. It's not working properly because the pull request variables do not contain the full branch ref when the build is triggered by GitHub. I'm fixing the issue right now so there should be an updated version soon.

René

[2020-06-25 17:57] ReneSchumacher commented on #100
Hi again,

the issue is fixed with v7.2.1 which is going live right now.

Happy building and keep up the very good feedback! Thanks a lot for that!

René

[2020-06-25 17:57] #100 closed

[2020-06-25 17:58] ReneSchumacher commented on #101
Hi @rajanimail1,

as mentioned via email the issue is fixed in v7.2.1 that is currently being published to the marketplace.

Thanks for reporting the issue and happy building!
René

[2020-06-25 17:58] #101 closed

[2020-06-25 17:59] ReneSchumacher commented on #102
HI @frankieyan,

as promised this issue is now fixed with v7.2.1 of the task that just went live. You should now be able to use the variable `$(System.PullRequest.TargetBranch)` as described in the docs.

Happy building,
René

[2020-06-26 03:12] frankieyan commented on #102
Thanks René - I will test it out and report back 👍

[2020-06-26 04:05] frankieyan commented on #102
Hello again @ReneSchumacher

I've updated to v7.2.1 but I still couldn't get the baseline branch to be recognized.

Here are the logs from the base branch. This is run against our main branch which doesn't contain any coverage data yet:

[code]

Here's the output from the follow up branch. When I checked the variables in the run options I see the correct branch names being set:
![image](https://us

[2020-06-26 09:12] ReneSchumacher commented on #102
Hi again,

I'm very sorry that the issue still persists. I'm sure it worked in my setup so let's check that I fully understood your environment so I can set up a similar one on my side:

- Your code is on GitHub, right?
- You have a pull request for merging from one _complex_ branch (frankie/test-coverage-change) to another _complex_ branch (frankie/code-coverage-reporting). - So far, I only teste

[2020-06-26 14:17] ReneSchumacher commented on #102
Hi @frankieyan,

I finally found the issue and solved it. We're running a couple last tests and will then publish the new version (v7.2.2) to the marketplace. We also removed the unnecessary warning about the permissions sine that is just confusing if you're not running your pull request in Azure Repos.

Happy building!
René

[2020-06-26 14:17] #102 closed

[2020-06-26 18:46] frankieyan commented on #102
Hi René,

Unfortunately, I still couldn't get it to find the baseline build on v7.2.2. I've sent the logs over to the email address you provided. Thanks again and I really appreciate all the efforts you've put in 😊

[2020-06-29 04:51] frankieyan commented on #102
Just a follow up after chatting with René in case anyone runs into something similar - this was my mistake as my base branch was running its build with a merge PR in the form of `refs/pull/xxxx/merge` rather than on the branch itself, which is why my follow up PR's build wasn't able to find the baseline when provided with its branch name. Once I initiated a build on the baseline branch on its own,

[2020-06-29 07:20] soutchilin opened #103 "Build Quality Check for Code Coverage runs into a timeout"
Hi,

Because I have not received any feedback on my post in an existing issue (https://github.com/MicrosoftPremier/VstsExtensions/issues/51) and I'm not sure if it got visible , please have this as a separate one.

Currently I have the "Waiting for code coverage data..." lasting till timeout, for Azure hosted pipeline, VSTest@2 and BuildQualityChecks@7. The code coverage file is created. Please se

[2020-06-29 11:16] ReneSchumacher commented on #103
Hi Alexander,

sorry that I missed your post in #51. There might be several reasons why the task runs into a timeout and a couple of those cannot be affected by us or our task. Sometimes, the backend in Azure DevOps is slow when merging code coverage values and doesn't finish before the task runs into a timeout. In that case, you may increase the timeout by setting the variable PSGer.Cover.MaxWait

[2020-06-29 14:07] soutchilin commented on #103
Hi René,

Hmm, unfortunately I cannot recognized any tangible hint for me to do more analysis. The pipeline NEVER executed properly regarding the CC. The rest runs quick (2 minutes of [Build + Unit Tests]). Would it help for you to have a quick look on it, if I execute the pipeline with debug option activated?

For a CI pipeline it is no option to wait long for analysis. Sorry to get it straight:

[2020-06-29 14:38] ReneSchumacher commented on #103
Hey,

the backend service merging code coverage data should usually only take a couple seconds depending on the amount of coverage data generated by your build. So in the very most cases, coverage data should be directly available when you run the Build Quality Checks task. We use the task very heavily internally as well and it usually just runs for a couple seconds and rarely has to wait for any

[2020-06-29 15:38] soutchilin commented on #103
Hi,

I see. I have another issue open, that the coverage file for C# doesn't get published. Maybe it has the same the root cause. Let me come back to you after that issue is solved.

Alexander

[2020-07-02 05:05] PreetSangha opened #104 "BuildQualityChecks@6 still the latest one?"
Looking at the readme, example is BuildQualityChecks@6. Can anyone confirm if that is indeed the latest one please.

Thanks Preet

[2020-07-02 06:53] ReneSchumacher commented on #104
Hey,

sorry for pointing this out. We just forgot to update the yaml snippet in the docs. You can always see the latest version from the marketplace (see https://marketplace.visualstudio.com/items?itemName=mspremier.BuildQualityChecks) or our change notes (see https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/changeNotes.md).

The latest version is 7.2.2 with

[2020-07-02 06:53] #104 closed

[2020-07-02 12:28] ReneSchumacher commented on #37
I'm closing this issue for now. If you still see sporadic timeouts, please open a new issue so we can track them. Since the root cause for this issue lies in Azure DevOps Services and not in our task, we cannot really help with the issue. However, if there are enough occurrences of this problem, chances will be higher that the product team might fix the issue once and for all.

[2020-07-02 12:28] #37 closed

[2020-07-02 12:28] ReneSchumacher commented on #51
I'm closing this issue for now. If you still see sporadic timeouts, please open a new issue so we can track them. Since the root cause for this issue lies in Azure DevOps Services and not in our task, we cannot really help with the issue. However, if there are enough occurrences of this problem, chances will be higher that the product team might fix the issue once and for all.

[2020-07-02 12:28] #51 closed

[2020-07-02 12:30] ReneSchumacher commented on #99
Hi @hisuwh,

since we didn't receive any feedback within the last two weeks, I'm closing the issue. If the problem still persists, please feel free to contact us again.

René

[2020-07-02 12:30] #99 closed

[2020-07-03 23:21] PreetSangha commented on #104
Thank you so much for the quick reply

[2020-07-04 01:04] PreetSangha opened #105 "How to improve this statistics output"
My output doesn't offer a lot of breakdown and all I get is a summary
[code]
and
[code]
Please could you show me how get an example output showing a break down like [this](https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/WarningsPolicy.md):
![image](https://user-images.githubusercontent.com/15098094/86502386-a53c0500-bdf6-11ea-89c2-d17bfd86248a.png)

My task

[2020-07-04 05:58] ReneSchumacher commented on #105
Hi @PreetSangha,

warning statistics are not shown in the task log. Instead, you have to look at the _Extensions_ tab in the build summary view as described at https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/overview.md#extension-summary-section. In addition, you have to set `showStatistics` to `true`, which you already did.

The screenshot in the docs also

[2020-07-05 00:56] PreetSangha commented on #105
Thank you, that explains it. I can't for life of me remember seeing the extensions tab before I upgraded to @7, but I'm happy to admit I could have just been overlooking it.

My I request putting yaml examples show how to do the same as you're showing in the non yaml examples? I'm sure it would make it very easy for people to compare and contrast. Again thank you for the prompt response.

[2020-07-05 11:47] ReneSchumacher commented on #105
What examples are you looking for exactly? I don't think we have any real full examples in the task docs. The screenshots just show the UI elements for reference, while all yaml properties are listed as part of the documentation in addition to a full yaml snippet with all possible properties in the overall documentation.

If you're looking for any specific scenarios, I'm more than happy to provide

[2020-07-08 18:10] jason-ha opened #106 "BuildQualityChecks: runTitle with $(System.PullRequest.TargetBranch) fails task in Azure DevOps"
As we have runs that may be compared against several branches, having branch name in the title is useful. However this will produce a task error per `/` in the string.

Example: `runTitle: Check-Previous-Lines-Coverage on $(System.PullRequest.TargetBranch) with 0.5% variance`
 using v7.3.0 results in:
[code]

If BuildQualityChecks cannot handle / with some substitution or such, then those limitati

[2020-07-08 20:35] ReneSchumacher commented on #106
Hi @jason-ha,

thank you for reporting this and sorry for the inconvenience this might have caused. To be honest, we just didn't think about character restrictions while implementing our last change to the summary section title, otherwise we would have documented them. I'll make sure this is fixed in the next version of the task that should be available soon.

René